html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: MuseoSansCyrlRegular;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  transition: 0.3s;
  opacity: 0;
}
.container {
  position: relative;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.align-top {
  align-items: flex-start !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
/*****		HEADER		*****/

header {
  padding-bottom: 20px;
}
.telefons {
  position: relative;
  right: 0;
  text-align: right;
  padding: 10px 0 5px 0;
}
.telefons a {
  margin-left: 23px;
  font-size: 14px;
  color: rgb(140, 140, 140);
}
.telefons a:hover {
  color: rgb(30, 30, 30);
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between-top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 94%;
  margin-top: 25px;
}
.logo {
  width: 300px;
  position: relative;
}
.logo img {
  width: 300px;
  display: none;
  margin: -30px 0 -15px;
}
.logo .ring {
  display: block;
  position: absolute;
  width: 80px;
  left: 90%;
  top: 0;
  transform: rotate(330deg);
  z-index: 99;
}
.searchBlock {
  width: 30%;
}
.menu {
  padding: 0;
  list-style: none;
  margin-top: 6px;
}
.menu li {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  padding: 5px;
  border: 2px solid transparent;
}
.menu li.cart-link {
  margin-left: 0;
}

.menu li span {
  font-size: 24px;
  margin-right: 5px;
}
.menu li a {
  color: inherit;
  font-family: MuseoSansCyrlLight;
  font-size: 20px;
}
@media (max-width: 425px) {
  .menu li a i {
    display: none;
  }
}
@media (min-width: 960px) {
  .menu li:hover > a {
    color: rgb(140, 140, 140);
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  z-index: 101;
  top: 100%;
  left: -70%;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
.dropdown-menu li {
  display: block;
  margin: 0 !important;
  padding: 7px 0;
}
.dropdown-menu li a {
  font-size: 16px;
  white-space: nowrap;
}
li#dropdown:hover .dropdown-menu {
  display: block;
}
.fa-percent {
  color: orange;
}
.detskaya {
  background: rgb(25, 197, 65);
}
.nachalnaya-shkola {
  background: rgba(251, 192, 98, 0.9);
}
.srednjaja-shkola {
  background: rgba(153, 45, 234, 0.9);
}
.shelkovyj-put {
  background: rgba(179, 130, 1, 0.9);
}
.abiturientam {
  background: rgba(87, 87, 255, 0.9);
}
.vysshaya-shkola {
  background: rgba(114, 174, 255, 0.9);
}
.medicina {
  background: rgba(184, 35, 35, 0.9);
}
.detskaya a,
.nachalnaya-shkola a,
.abiturientam a,
.vysshaya-shkola a,
.medicina a,
.shelkovyj-put a,
.srednjaja-shkola a,
.detskaya .fa-percent,
.nachalnaya-shkola .fa-percent,
.abiturientam .fa-percent,
.vysshaya-shkola .fa-percent,
.medicina .fa-percent,
.shelkovyj-put .fa-percent,
.srednjaja-shkola .fa-percent {
  color: white;
}
.detskaya .menu > ul > li > a,
.nachalnaya-shkola .menu > ul > li > a,
.abiturientam .menu > ul > li > a,
.vysshaya-shkola .menu > ul > li > a,
.srednjaja-shkola .menu > ul > li > a,
.shelkovyj-put .menu > ul > li > a,
.medicina .menu > ul > li > a {
  color: white;
}
.detskaya .menu > ul > li > a:hover,
.abiturientam .menu > ul > li > a:hover,
.vysshaya-shkola .menu > ul > li > a:hover,
.shelkovyj-put .menu > ul > li > a:hover,
.srednjaja-shkola .menu > ul > li > a:hover,
.medicina .menu > ul > li > a:hover,
.detskaya .telefons a:hover,
.abiturientam .telefons a:hover,
.vysshaya-shkola .telefons a:hover,
.shelkovyj-put .telefons a:hover,
.srednjaja-shkola .telefons a:hover,
.medicina .telefons a:hover {
  color: rgb(220, 220, 220);
}
.nachalnaya-shkola .menu > ul > li > a:hover,
.nachalnaya-shkola .telefons a:hover {
  color: rgb(80, 80, 80);
}

/*****		HEADER END		*****/

/*****		FOOTER		*****/
footer {
  padding: 8vh 0 15px;
  background: rgb(237, 237, 237);
}
footer .flex-between {
  align-items: stretch;
}
.secondBlock .categories a {
  color: inherit;
  font-family: MuseoSansCyrlRegular;
  font-size: 16px;
  margin-left: 30px;
}
.secondBlock .categories a:nth-child(1) {
  margin-left: 0;
}
.secondBlock .categories a:hover {
  color: rgb(140, 140, 140);
}
.copyright {
  padding: 15px;
  font-family: MuseoSansCyrlLight;
  font-size: 16px;
  color: rgb(100, 100, 100);
  background: rgb(220, 220, 220);
  line-height: 20px;
  text-align: center;
}
footer .thirdBlock {
  width: auto;
  text-align: left;
}
footer .menu {
  margin-top: 0;
}
footer .menu li:nth-child(1) {
  margin: 0;
  width: auto;
}
footer .menu a {
  font-size: 16px;
}
.footer-telefons {
  display: inline-block;
  vertical-align: top;
}
.footer-telefons a,
.child a {
  display: block;
  color: rgb(30, 30, 30);
  font-family: MuseoSansCyrlLight;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 10px;
}
.child a {
  display: inline-block;
}
.footer-telefons a:hover,
.child a:hover {
  color: rgb(140, 140, 140);
}
.footer-telefons p {
  display: block;
  font-size: 14px;
  margin-left: 25px;
  color: rgb(140, 140, 140);
}
.footer-telefons .block {
  margin-right: 0;
  margin-left: 25px;
  display: inline-block;
}
.adress {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-right: 4%;
}
.adress p,
.adress a {
  font-size: 14px;
  font-family: MuseoSansCyrlLight;
  color: rgb(140, 140, 140);
}
.adress .fa {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 28px;
}
.partners a {
  display: block;
  margin-top: 10px;
}
.partners a:hover span {
  color: rgb(140, 140, 140);
}
.partners img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}
.partners p {
  font-size: 16px;
  color: rgb(140, 140, 140);
}
.partners span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 10px;
  color: rgb(30, 30, 30);
  font-family: MuseoSansCyrlLight;
  width: 80%;
  white-space: nowrap;
}
.child {
  vertical-align: top;
  display: inline-block;
  width: 193px;
}
.child a {
  font-size: 16px;
  margin-bottom: 20px;
}
.child:nth-child(2) {
  width: 172px;
}
footer div.email {
  display: inline-block;
  position: relative;
}
footer div.email label {
  font-size: 14px;
  margin-bottom: 18px;
  display: block;
  color: rgb(140, 140, 140);
}
footer div.email input {
  outline: none;
  width: 100%;
  border-radius: 30px;
  display: block;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
}
footer div.email button {
  position: absolute;
  left: 88%;
  bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.soc-networks .block {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.soc-networks .block p {
  font-size: 14px;
  height: 40px;
  color: rgb(140, 140, 140);
}
.soc-networks .block a {
  font-size: 24px;
  margin-right: 10px;
  color: rgb(140, 140, 140);
}
.fa-vk {
  color: #4c75a3 !important;
}
.fa-facebook {
  color: #3b5998 !important;
}
.fa-instagram {
  color: #cd486b !important;
}
.fa-odnoklassniki {
  color: #ed812b !important;
}
.fa-youtube {
  color: #cc181e !important;
}
.fa-telegram {
  color: #0088cc !important;
}
/*news*/

.contact-title {
  color: rgb(30, 30, 30);
  font-size: 28px;
  font-family: MuseoSansCyrlMedium;
  margin: 9px 3%;
  margin-left: 0;
}
.news-title {
  color: rgb(30, 30, 30);
  font-family: MuseoSansCyrlMedium;
  font-size: 18px;
  margin: 0;
}
.article-info .news-title {
  font-size: 24px;
  margin-bottom: 10px;
  width: 110%;
}
.article-info .news-title:hover {
  text-decoration: underline;
}
.news-list {
  display: block;
}
.news-list .article {
  width: 48%;
  margin-bottom: 50px;
  /*height: 200px;*/
  display: inline-block;
  margin-right: 3%;
}
.news-list .article:nth-child(2n) {
  margin-right: 0;
}
.article .image-container {
  overflow: hidden;
  max-height: 200px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.article .image-container img {
  width: 100%;
  height: auto;
}
.article .article-info {
  position: relative;
  height: 200px;
  width: 49%;
  padding-left: 5%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.article-info .date {
  font-family: MuseoSansCyrlLight;
  font-size: 14px;
  color: rgb(167, 167, 167);
  margin-bottom: 10px;
}
.article-info .article-link {
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  font-family: MuseoSansCyrlRegular;
  color: rgb(30, 30, 30);
  text-decoration: underline;
  transition: 0.3s;
}
.article-info .article-link:hover {
  transform: translate(8px);
}
.article-info .description {
  height: 85px;
  overflow: hidden;
}
.article-info .description * {
  font-size: 12px;
  color: rgb(30, 30, 30);
  font-family: MuseoSansCyrlLight;
}
.page-link {
  font-family: MuseoSansCyrlLight;
  display: inline-block;
  margin-left: 20px;
}

/*inner news*/
.inner-block {
  display: inline-block;
  width: 60%;
}
.inner-block .image-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 40px;
}
.inner-block .image-container img {
  width: 100%;
  height: auto;
}
.image-header {
  position: relative;
  color: black;
  font-size: 30px;
  font-family: MuseoSansCyrlMedium;
  margin-bottom: 30px;
}
.image-date {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 14px;
  font-family: MuseoSansCyrlLight;
  color: rgb(180,180,180);
}
.inner-block .information {
  margin-bottom: 40px;
  color: rgb(30, 30, 30);
  font-size: 14px;
}

.inner-block .information * {
  font-size: 16px;
  color: rgb(30, 30, 30);
  font-family: MuseoSansCyrlLight;
}

.videos {
  width: 100%;
  margin-bottom: 20px;
}
.videos .video1,
.videos .video2 {
  width: 45%;
  display: inline-block;
}
.videos .video1 {
  margin-right: 9%;
}
.video_link {
  color: rgb(30, 30, 30);
  text-decoration: underline;
  font-size: 14px;
}
.other-news {
  display: inline-block;
  width: 470px;
  vertical-align: top;
}

.last-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 40px;
}

.last-news .image-container {
  display: inline-block;
  width: 25%;
}
.last-news .image-container img {
  width: 100%;
  height: auto;
}
.last-news .info {
  padding-left: 5%;
  box-sizing: border-box;
  display: inline-block;
  width: 68%;
  vertical-align: top;
  margin-top: 0;
}
.last-news .info .news-title {
  margin-bottom: 10px;
  margin-left: 0;
}
.last-news .info .information {
  font-family: MuseoSansCyrlLight;
  font-size: 12px;
}

.all-news {
  padding-left: 5%;
  margin-left: 26%;
  box-sizing: border-box;
  color: rgb(30, 30, 30);
  text-decoration: underline;
}

.bigcategory {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.bigcategory h2,
.category h2 {
  position: absolute;
  font-size: 34px;
  color: white;
  top: 9%;
  left: 5%;
  z-index: 3;
  text-shadow: 2px 1px 15px rgba(0, 0, 0, 1);
}
.bigcategory h2 {
  left: 7%;
  top: auto;
  bottom: 9%;
}
.category img.small {
  position: absolute;
  display: block;
  top: auto;
  bottom: 7%;
  left: 5%;
  width: 14%;
  z-index: 99;
}
.bigcategory:nth-child(2) img.small {
  left: auto;
  right: 5%;
  bottom: 6%;
}
.bigcategory:nth-child(2) h2 {
  left: auto;
  right: 20%;
  text-align: right;
}
.bigcategory img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}
.bigcategory > div,
.category > div {
  box-sizing: border-box;
  position: absolute;
  padding: 0% 5%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 197, 65, 0.75);
  left: 0;
  visibility: hidden;
}
.bigcategory > div {
  padding-top: 7%;
}
.category:nth-child(2) > div {
  background: rgba(251, 192, 98, 0.75);
}
.bigcategory:hover > div,
.category:hover > div {
  visibility: visible;
}
.bigcategory div p,
.category div p {
  font-size: 16px;
  color: white;
  width: 65%;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}
.bigcategory:nth-child(2) div p {
  float: right;
  text-align: right;
}
.bigcategory div > a,
.category div > a {
  margin: 0;
  padding: 10px 25px;
  position: absolute;
  bottom: 15%;
  left: 5%;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 60px;
  color: white;
  transition: background 0.3s ease-in-out 0s;
}
.bigcategory:nth-child(2) div > a {
  left: auto;
  right: 5%;
}
.bigcategory div > a:hover,
.category div > a:hover {
  background: white;
  color: rgba(50, 197, 65, 0.85);
}
.bigcategory:nth-child(2) div > a:hover {
  background: white;
  color: rgba(251, 192, 98, 0.9);
}
.category {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 33.333333333%;
}
.category > div {
  padding-top: 8%;
}
.category > div p {
  width: 90%;
}
.category img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}
.category h2 {
  top: auto;
  bottom: 10%;
  left: 20%;
}
.bigcategory:nth-child(1) h2,
.bigcategory:nth-child(2) h2,
.category:nth-child(4) h2,
.category:nth-child(5) h2 {
  line-height: 34px;
}
.category div > a {
  left: auto;
  right: 5%;
  display: inline-block;
  margin-top: 15px;
  width: auto;
}
.category:nth-child(3) > div {
  background: rgba(153, 45, 234, 0.9);
}
.category:nth-child(3) > div a:hover {
  color: rgba(153, 45, 234, 0.75);
}
.category:nth-child(4) > div {
  background: rgba(87, 87, 255, 0.75);
}
.category:nth-child(4) > div a:hover {
  color: rgba(87, 87, 255, 0.9);
}
.category:nth-child(5) > div {
  background: rgba(114, 174, 255, 0.85);
}
.category:nth-child(5) > div a:hover {
  color: rgba(114, 174, 255, 0.9);
}
.category:nth-child(6) > div {
  background: rgba(184, 35, 35, 0.75);
}
.category:nth-child(6) > div a:hover {
  color: rgba(184, 35, 35, 0.9);
}
.bigcategory:nth-child(7) > div {
  background: rgba(179, 130, 1, 0.9);
}
.bigcategory:nth-child(7) > div a:hover {
  color: rgba(179, 130, 1, 0.8);
}
.pagination {
  text-align: center;
  margin-bottom: 40px;
  max-width: 100%;
  list-style: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.pagination li {
  display: inline-block;
  margin-right: 20px;
}
.pagination li.active {
  text-decoration: none;
  background: rgb(237, 237, 237);
  border-radius: 15px;
}
.pagination li * {
  font-size: 14px;
  color: rgb(30, 30, 30);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 8px;
  text-decoration: none;
  display: inline-block;
}
.pagination li *['disabled'] {
  cursor: not-allowed;
}
.slider-title {
  font-size: 36px;
  color: rgb(30, 30, 30);
}

/**** INNER ****/

.inner-info {
  width: 55%;
}
.inner-album {
  width: 40%;
  position: relative;
  margin-bottom: 50px;
}
.inner-album img {
  width: 65%;
}
.inner-album img.shadow {
  position: absolute;
  left: 65%;
  bottom: 0;
  width: 35%;
}
.inner-author {
  font-size: 26px;
  color: rgb(180, 180, 180);
  font-family: MuseoSansCyrlLight;
}
.inner-props {
  font-size: 22px;
  color: rgb(30, 30, 30);
}
.create_review,
.reviews {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-bottom: 50px;
}
.create_review form * {
  outline: none;
  box-sizing: border-box;
}
.create_review h4 {
  text-align: center;
  white-space: nowrap;
}
.create_review form {
  position: relative;
  display: block;
  width: 420px;
  margin-bottom: 100px;
}
.absolute-title-tr,
.absolute-title-tl {
  font-size: 20px;
  position: absolute;
  top: -76px;
  right: 0;
  font-family: MuseoSansCyrlLight;
}
.absolute-title-tl {
  top: -56px;
  right: auto;
  left: 0;
}
.create_review form input,
.create_review form textarea {
  border-radius: 8px;
  width: 100%;
  border: none;
  background: rgb(230, 230, 230);
  display: block;
  margin: 20px 0;
  padding: 12px 15px;
}
.create_review form button,
.order button {
  background: none;
  box-shadow: none;
  padding: 12px 35px;
  border: 2px solid yellow;
  float: right;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.create_review form button:hover,
.order button {
  background: yellow;
}
.reviews {
  position: relative;
}
.reviews_container {
  max-height: 470px;
  overflow-y: auto;
  overflow-x: visible;
  padding-right: 50px;
  padding-bottom: 30px;
}
.reviews_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.reviews_container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.reviews_container::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}

.review {
  padding: 10px 0 50px 0;
  border-bottom: 2px solid rgb(200, 200, 200);
}
.review * {
  font-family: MuseoSansCyrlLight;
}
.review h3 {
  display: inline-block;
  font-size: 20px;
  margin-left: 25px;
  font-family: MuseoSansCyrlThin;
  color: rgb(140, 140, 140);
  transform: translate(0, -12px);
}
.review i {
  font-size: 58px;
  color: rgb(200, 200, 200);
}
.review p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
}
.characters {
  width: 400px;
  min-height: 180px;
}
.char {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
}
.char p {
  font-size: 16px;
  min-width: 160px;
  font-family: MuseoSansCyrlThin;
  color: rgb(80, 80, 80);
}
.char p:nth-child(1) {
  font-family: MuseoSansCyrlLight;
  color: rgb(30, 30, 30);
}
.buy {
  cursor: pointer;
  color: rgb(30, 30, 30);
  padding: 12px 35px;
  font-size: 20px;
  background: yellow;
  border-radius: 50px;
  display: inline-block;
}
.buy.in-cart{
  cursor: default;
  background: rgb(180, 180, 180);
}
.price {
  font-size: 38px;
  color: rgb(30, 30, 30);
  margin-left: 77px;
}
.price > span {
  font-size: 30px;
}
.bookVideo {
  position: absolute;
  top: 107%;
  left: 8%;
}
.tab-container {
  max-width: 65%;
  margin: 20px 0;
}
.tab-container .table-head a {
  display: inline-block;
  color: rgb(157, 157, 157);
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.tab-container .table-head a:hover {
  color: rgb(100, 100, 100);
}
.tab-container .table-head a.active {
  color: rgb(30, 30, 30);
  text-decoration: underline;
}
.tab-container .table-head a:nth-child(2) {
  margin-left: 20px;
}
div.table-body div.table-element {
  padding: 15px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

div.table-body div.table-element div.inner-descr,
div.table-body div.table-element div.inner-descr * {
  width: 90%;
  font-size: 16px;
  color: rgb(67, 67, 67);
  word-wrap: break-word;
  font-family: MuseoSansCyrlLight;
}
div.table-body div.table-element div.inner-descr label,
div.inner-block .information label {
  display: inline-block;
  margin-left: 10px;
}
div.table-body div.table-element div.inner-descr audio,
div.inner-block .information audio {
  width: 60%;
}
div.table-body div.table-element div.inner-descr blockquote,
div.inner-block .information blockquote {
  padding: 15px;
  margin-bottom: 10px;
  border-left: 2px solid rgb(157, 157, 157);
  font-style: italic;
  color: rgb(30, 30, 30);
}
div.table-body div.table-element div.inner-descr blockquote *,
div.inner-block .information blockquote * {
  font-weight: lighter;
  font-style: italic;
  color: rgb(30, 30, 30);
}
div.table-body div.table-element div.inner-descr p,
div.inner-block .information p {
  margin-bottom: 16px;
}
div.table-body div.table-element div.inner-descr a,
div.inner-block .information a {
  color: rgb(30, 30, 30);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}
div.table-body div.table-element div.inner-descr iframe,
div.inner-block .information iframe {
  display: inline-block;
  width: 45%;
}
.ql-indent-1 {
  margin-left: 30px;
}
.ql-indent-2 {
  margin-left: 60px;
}
.ql-indent-3 {
  margin-left: 90px;
}
div.table-body div.table-element div.inner-descr h1,
div.table-body div.table-element div.inner-descr h1 *,
div.inner-block .information h1,
div.inner-block .information h1 * {
  font-size: 36px;
}

div.table-body div.table-element div.inner-descr h2,
div.table-body div.table-element div.inner-descr h2 *,
div.inner-block .information h2,
div.inner-block .information h2 * {
  font-size: 34px;
}

div.table-body div.table-element div.inner-descr h3,
div.table-body div.table-element div.inner-descr h3 *,
div.inner-block .information h3,
div.inner-block .information h3 * {
  font-size: 30px;
}

div.table-body div.table-element div.inner-descr h4,
div.table-body div.table-element div.inner-descr h4 *,
div.inner-block .information h4,
div.inner-block .information h4 * {
  font-size: 24px;
}

div.table-body div.table-element div.inner-descr h5,
div.table-body div.table-element div.inner-descr h5 *,
div.inner-block .information h5,
div.inner-block .information h5 * {
  font-size: 18px;
}

div.table-body div.table-element div.inner-descr h6,
div.table-body div.table-element div.inner-descr h6 *,
div.inner-block .information h6,
div.inner-block .information h6 * {
  font-size: 16px;
}
div.table-body div.table-element div.inner-descr a:hover,
div.inner-block .information a:hover {
  color: rgb(157, 157, 157);
}
div.table-body div.table-element div.inner-descr img,
div.inner-block .information img {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

div.table-body div.table-element .name {
  color: black;
  font-size: 14px;
  display: inline;
  width: 25%;
  vertical-align: top;
  float: left;
  font-family: MuseoSansCyrlBold;
}

div.table-body div.table-element .composition {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  font-size: 15px;
  color: rgb(157, 157, 157);
  text-align: right;
  word-wrap: break-word;
}
.order {
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
}
.order .input-group {
  margin: 20px 0;
}
.order .input-group label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.order input,
.order textarea {
  box-sizing: border-box;
  border: none;
  outline: none !important;
  padding: 10px 15px;
  font-size: 14px;
  background: rgb(230, 230, 230);
  border-radius: 6px;
  width: 100%;
  margin-top: 5px;
}
.bookPreview {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(100, 100, 100);
  opacity: 0.6;
  transition: 0.5s;
}
.bookPreview:hover {
  opacity: 1;
}
.bookPreview a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookPreview .fa {
  font-size: 80px;
  display: block;
}
.bookPreview .text {
  font-size: 18px;
  display: block;
  text-decoration: underline;
  text-align: center;
}
/**** INNER ENDS****/

/*CONTACTS*/
.full-page {
  height: 100vh;
  overflow-x: hidden;
}
.contact-info {
  width: 100%;
}
.map {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.contact-title {
  margin-top: 0px;
  margin-left: 0px;
}
div.phones,
.contact-info div.email,
div.address,
div.soc-networks {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}
h4.phones-header,
h4.email-header,
h4.address-header,
h4.soc-networks-header {
  font-family: MuseoSansCyrlRegular;
  margin-right: 30px;
  font-size: 16px;
}
div.numbers,
div.email-addresses,
div.addresses,
div.networks {
  min-width: 180px;
}
div.networks .fa {
  font-size: 25px;
  margin-bottom: 15px;
}
div.numbers p,
div.email-addresses p,
div.addresses p,
div.networks a {
  font-family: MuseoSansCyrlLight;
  font-size: 16px;
  margin-bottom: 18px;
}
div.numbers p:last-child,
div.email-addresses p:last-child,
div.addresses p:last-child,
div.networks a:last-child {
  margin-bottom: 0;
}

div.networks a {
  margin-right: 30px;
  color: rgb(30, 30, 30);
}

/*END CONTACTS*/

/*ABOUT US*/
div.about-info {
  vertical-align: middle;
  width: 80%;
}
div.about-info .about-title {
  font-size: 40px;
  font-family: MuseoSansCyrlMedium;
}
div.about-info .descr {
  font-size: 18px;
  line-height: 24px;
  font-family: MuseoSansCyrlLight;
}
/*END ABOUT US*/

/* Outer */
.popup {
  z-index: 99;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
}

/* Inner */
.popup-inner {
  max-width: 400px;
  padding: 30px 20px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 8px;
  background: #fff;
}
.popup-inner.video {
  max-width: 800px;
}
.popup-inner.video iframe {
  height: 400px;
  margin-top: 20px;
}

.popup-inner.full {
  max-height: 90%;
  height: 600px;
  max-width: 1000px;
  margin: 0 auto;
}

#insert-photo {
  max-width: none;
  width: auto;
  height: 90vh;
  padding: 0;
  background: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
}

#flash_message {
  position: fixed;
  height: auto;
  font-size: 16px;
  width: 30%;
  left: 40%;
  text-align: center;
  background-color: white;
  padding: 20px 0px 20px 0px;
  z-index: 2;
  color: #35ca67;
  font-family: MuseoSansCyrlBold;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.4);
}

#insert-photo img {
  height: 100%;
  border-radius: 8px;
}

/* Close Button */
.popup-close {
  width: 35px;
  height: 35px;
  padding-top: 6px;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0px;
  transition: ease 0.25s all;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background: rgba(255, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
}

.popup-close:hover {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  background: rgba(255, 0, 0, 1);
  text-decoration: none;
}
.popUpTitle {
  font-size: 24px;
}
.popUpTitleDescr {
  font-size: 14px;
  margin-top: 14px;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .slider-title {
    text-align: center;
  }
  .container {
    width: 100%;
  }
  .menu > ul > li:nth-child(1) {
    width: 100%;
    margin: 10px 0 !important;
  }
  .menu li:nth-child(2) {
    margin-left: 0 !important;
  }
  .menu ul {
    text-align: center;
  }
  .searchBlock {
    width: 80%;
  }
  .bigcategory,
  .category {
    width: 100%;
  }
  .bigcategory {
    height: 400px;
    overflow-x: hidden;
  }
  .bigcategory img {
    height: 400px;
    width: auto;
    object-fit: cover;
    object-position: center center;
  }
  .flex-between {
    flex-direction: column;
    align-items: center !important;
  }
  .flex-between-top {
    flex-direction: column;
    align-items: center !important;
  }
  .child {
    display: none;
  }
  .categories {
    margin-top: 20px;
  }
  footer .menu {
    display: block;
  }
  .secondBlock .categories a {
    margin-left: 0 !important;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  footer * {
    max-width: 300px;
  }
  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer div.email {
    display: none;
  }
  .telefons {
    text-align: center;
    padding: 10px 0;
  }
  .footer-telefons .block {
    margin-left: auto;
    margin-right: auto;
  }
  .news-list .article {
    width: 96%;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 2%;
  }
  .inner-info {
    width: 96%;
    text-align: center;
  }
  .characters {
    width: 100%;
    min-height: auto;
  }
  .char {
    text-align: left;
  }
  .char p {
    min-width: 100px;
  }
  .price {
    font-size: 30px;
    color: rgb(30, 30, 30);
    margin-left: 10px;
  }
  .price > span {
    font-size: 20px;
  }
  .buy {
    padding: 12px 30px;
    font-size: 18px;
    order: 2;
  }
  .bookPreview {
    margin-top: 10px;
    position: static;
    transform: none;
  }
  .inner-album img.shadow {
    display: none;
  }
  .create_review,
  .reviews {
    width: 90%;
    margin-left: 5%;
  }
  .create_review form {
    width: 100%;
    margin-bottom: 50px;
  }
  .inner-album {
    width: 96%;
    text-align: center;
  }
  .bookVideo {
    position: relative;
    top: 20px;
    left: auto;
  }
  .tab-container {
    margin: 0;
  }
  .reviews_container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: visible;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .reviews_container::-webkit-scrollbar {
    width: 0;
  }
  .absolute-title-tr,
  .absolute-title-tl {
    top: -45px;
    left: 50%;
    transform: translate(-50%);
  }
  .create_review form button,
  .order button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .telefons a:nth-child(1) {
    margin-left: 0;
  }
  .bigcategory div p,
  .category div p {
    display: none;
  }
  .bigcategory:nth-child(2) div > a {
    right: auto;
    left: 5%;
  }
  .category div > a {
    bottom: auto;
    right: auto;
    top: 5%;
    left: 5%;
  }
  .category:nth-child(4) div > a {
    bottom: 15%;
    top: auto;
    left: auto;
    right: 5%;
  }
  .article .image-container {
    max-height: auto;
    width: 60%;
    margin-left: 20%;
  }
  .article .image-container {
    width: 80%;
    margin-left: 10%;
  }
  .article .article-info {
    height: auto;
    width: 80%;
    padding-left: 0;
    margin-left: 10%;
  }
  .other-news {
    display: none;
  }
  .last-news {
    display: none;
  }
  .inner-block {
    width: 94%;
    margin: 0 auto;
  }
  .videos .video1,
  .videos .video2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .about-us div.image-container {
    display: none;
  }
  .about-us div.about-info {
    width: 100%;
  }
  .contact-info {
    width: 100%;
  }
  .dropdown-menu {
    position: fixed;
    background: white;
    z-index: 101;
    top: 225px;
    width: 100%;
    left: 0%;
  }
  .bigcategory > div,
  .category > div {
    visibility: visible;
  }
  .bigcategory div,
  .category div {
    background: none !important;
  }
  .bigcategory div > a {
    bottom: 12%;
  }
  .logo img {
    margin: 0;
  }
  .footer-telefons p {
    text-align: center;
    margin: 0;
  }
  .partners a {
    display: flex;
    align-items: center;
  }
  .partners span {
    width: auto;
  }
  .soc-networks .block p {
    height: 20px;
  }
  footer div.soc-networks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .soc-networks .block {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  .soc-networks .block a:last-child {
    margin-right: 0;
  }
  footer .menu li:nth-child(2) {
    margin-left: 20px !important;
  }
  .news-list {
    min-height: 250px;
  }
  .news-list .article {
    margin-right: 0;
  }
  .bigcategory img.small {
    width: 90px;
  }
  .bigcategory h2 {
    top: auto;
    bottom: 10%;
    left: 20%;
  }
  .bigcategory:nth-child(2) h2 {
    right: calc(5% + 90px);
  }
  .inner-info {
    order: 2;
  }
  .inner-album {
    order: 1;
  }
  .albumcontainer {
    margin-top: 0 !important;
  }
  .tab-container {
    max-width: 100%;
  }
  .tab-container .table-head {
    display: flex;
  }
  .tab-container .table-head a {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 0 !important;
    text-align: center;
  }
  #audio {
    display: none;
  }
  div.about-info {
    vertical-align: middle;
    width: 94%;
    margin: 0 auto;
  }
  div.phones,
  .contact-info div.email,
  div.address,
  div.soc-networks {
    display: block;
    text-align: center;
  }
  div.phones h4,
  .contact-info div.email h4,
  div.address h4,
  div.soc-networks h4 {
    margin: 0;
    margin-bottom: 10px;
  }
  .trird,
  .fifth {
    margin-right: 0 !important;
  }
  .popup-inner {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    transform: none;
    box-shadow: none;
    left: 0;
    top: 0;
    border-radius: 0;
  }
  .popup-inner.full {
    max-height: none;
    height: 100vh;
    margin: 0 auto;
  }
  .popup-inner.full iframe {
    width: 90%;
  }
}

.undercategories {
  text-align: center;
}

@media screen and (max-width: 450px) {
  .logo .ring {
    width: 40px;
    left: 85%;
    top: 15px;
  }

  .bigcategory {
    height: 205px;
  }

  .bigcategory h2 {
    width: 200px;
  }

  .bigcategory img {
    height: 205px;
  }
}
