<template>
<div class="wrapper">
    <div class="col-md-2 nopadding">
        <mymenu :pages="pages"></mymenu>
    </div>
    <div class="col-md-10 nopadding">
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
    <flash-message></flash-message>
</div>    
</template>

<script>
    import VueRouter from 'vue-router'
    import routes from '../routes'
    import mymenu from './layouts/menu.vue'
    import modalwindow from './layouts/modal_window.vue'

    const router = new VueRouter({
        mode: 'history',
        base: '/admin/',
        routes,
    })

    export default {
        router,

        components: {
            mymenu,
            modalwindow
        },

        data() {
            return {
                pages: routes,
                showModal: false,
                message: ''
            }
        }
    }
</script>