<template>
<div class="panel panel-default full-height">
	    <div class="private-panel-body main-block">
	        <div class="white-panel">
				<div class="row">
	                <h2>
	                    {{title}}
	                </h2>
	            </div>	
	            <div class="row creating-row">
	            	<div class="col-md-4 col-md-offset-4">
						<select name="" id="" v-model="selectedPart" @change="load()" class="form-control">
	            			<option v-for="part, idx in parts" :value="part.id">{{part.name}}</option>
	            		</select>	            		
	            	</div>
	            </div> 
	            <div class="row">
	            	<div class="col-md-6" v-for="item, idx in banners" :key="idx">
	            		<div class="image-container" style="height: 300px;">
	            			<img style="max-width: 400px; margin-bottom: 15px;" :src="item.image_url" alt="" v-if="banners[idx].image">
							<div class="own-type-file">           
			                    <label :for="'uploader' + idx" class="custom-label">
			                        Загрузить баннер {{idx + 1}}
			                    </label>
			                    <input type="file" @change="saveImage($event, item, idx)" :id="'uploader' + idx">{{imageName['image' + idx]}}
			                </div>
			                <input type="text" style="margin-bottom: 15px;" class="form-control" v-model="item.url">
			                <button class="btn btn-primary btn-md" @click="save(item)">Обновить баннер</button>
							<button class="btn btn-primary btn-md" @click="deleteBanner(item)">Удалить баннер</button>             			
	            		</div>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
	export default {
		props: ['title'],
		data () {
			return {
				selectedPart: '1',
				parts: [],
				banners: [],
				imageName: {
					image0: '',
					image1: '',
				} 
			}
		},
		mounted () {
			this.loadOnce();
			this.load();
		},
		methods: {
			async load () {
				$('#uploader0').val('').clone(true);
                $('#uploader1').val('').clone(true);
                this.imageName = {
					image0: '',
					image1: '',                	
                };				
				this.banners = await this.$http.get(`banners/${this.selectedPart}`);
			},
			async loadOnce () {
				this.parts = await this.$http.get('characteristic_types');
			},
			saveImage (event, banner, idx) {
                banner.image = event.target.files[0];
                this.imageName['image' + idx] = event.target.files[0].name;
            },	
            async save (item) {
            	let data = new FormData();
            	data.append('id', item.id);
            	data.append('part_id', this.selectedPart);
            	data.append('url', item.url);
            	data.append('image', item.image);
            	let response = await this.$http.post(`banners/${this.selectedPart}`, data);
            	this.load();
            },
			async deleteBanner (item) {
            	let data = new FormData();
            	data.append('id', item.id);
            	data.append('part_id', this.selectedPart);
            	data.append('url', item.url);
            	data.append('image', item.image);
				let response = await this.$http.delete(`banners/${item.id}`);
            	this.load();
            }		
		}
	}
</script>