<template>
	<div class="panel panel-default full-height">
	    <div class="private-panel-body main-block">
	        <div class="white-panel">
	            <div class="row">
	                <h2>
	                    {{title}}
	                </h2>
	            </div>
	            <div class="private-table-scrolling">
	                <table class="table table-bordered table-striped">
	                    <thead>
	                        <tr>
	                            <td>Название книги</td>
	                            <td>В рекоммендуемом</td>  
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr v-for="product, idx in products" :key="idx">
	                            <td>
	                                {{product.name}}
	                            </td>
	                            <td>
	                                <input type="checkbox" class="form-control" v-model="product.is_recommended">                           
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
				<div class="saveButtons">
	                <div class="buttons">
	            		<button class="btn btn-primary btn-md" @click="savePromotions()">Сохранить изменения</button>
	            	</div>
	            </div>             
	            <!-- <div class="page-buttons">
	                <div class="buttons">
	                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===1" @click="prevPage()">Предыдущая</button>
	                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===pagination.last_page" @click="nextPage()">Следующая</button>
	                </div>
	            </div>  -->           
	        </div>
	    </div> 
	</div>  
</template>

<script>
    export default {
    	props: ['title'],
        data() {
            return {
                products: []
            }
        },

        mounted () {          
            this.load();
        },

        methods: {
            async load () {
                this.products = await this.$http.get(`recommended`);        
            },

            async savePromotions () {
            	for(let i = 0; i < this.products.length; i++) {
	                const data = new FormData();
	                let id = this.products[i].id;
	                for (let key in this.products[i]) {
	                    data.append(key, this.products[i][key]);
	                }

	                try {
	                    let response = await this.$http.post(`recommended/${id}`, data);
	                } catch (e) {} 
                }  
                await this.load();      	
            }
        }
    }
</script>
