<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form 
                        :category="category" 
                        :mode="'create'" 
                        :allCategories="allCategories"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                category: {
                    name: '',
                    slug: '',
                    parent_id: ''
                },
                allCategories: []
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {

            async load () {
                this.allCategories = await this.$http.get(`allCategories`);
            },

            async save () {
                const data = new FormData();
                for (let key in this.category) {
                    if (this.category[key] === null && key !== 'parent_id') {
                        this.flash('Заполните все поля', 'error', {
                            timeout: 2000
                        });                        
                        return;
                    }                 
                    data.append(key, this.category[key]);
                }

                try {
                    let response = await this.$http.post('categories', data);
                    await this.load();
                    if (response.route) {
                        this.flash(response.status, 'success', {
                            timeout: 3000
                        });
                        this.$router.push(response.route);
                        return;
                    }
                    this.category = {
                        name: '',
	                    slug: '',
	                    parent_id: ''                    
                    };
                    return
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });                    
                }
            }
        }
    }
</script>
