 <template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}} {{category.name}}
                </h2>
            </div>
            <creating-form 
                        :category="category" 
                        :allCategories="allCategories" 
                        :mode="'update'" 
                        :children="children" 
                        :freeCategories="freeCategories"
                        @deletecategory="deletecategory" 
                        @editcategory="fetchData"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="fetchData(parent_id)">Вернуться к списку</button>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                category: {
                    name: '',
                    slug: '',
                    parent_id: ''
                },
                allCategories: [],
                children: [],
                parent_id: '',
                freeCategories: []
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                let responsedData = await this.$http.get(`categories/${this.$route.params.id}`);
                this.category = responsedData.category;
                this.allCategories = await this.$http.get(`allCategories`);
                this.children = responsedData.children;    
                this.category.parent_id = this.category.parent_id ? this.category.parent_id : '';
                this.parent_id = this.category.parent_id; 
                this.freeCategories = responsedData.freeCategories;       
            },

            async save () {
                const data = new FormData()
                for (let key in this.category) {
                    if (this.category[key] === null && key !== 'parent_id') {
                        this.flash('Заполните все поля', 'error', {
                            timeout: 2000
                        });                        
                        return;
                    }
                    data.append(key, this.category[key]);
                }

                try {
                    let response = await this.$http.post(`categories/${this.$route.params.id}`, data);
                    await this.load();
                    if (response.status) {
                        this.flash(response.status, 'success', {
                            timeout: 3000
                        });
                        this.$router.push(response.route);
                        return;                        
                    }
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                    
                }
            },
            async deletecategory (category) {
                let response = await this.$http.delete(`categories/${category.id}`);
                await this.load();
                this.$parent.message = 'Категория ' + category.name + ' успешно удалёна';
                this.$parent.showModal = true;                
            },
            fetchData (id) {
                this.$router.push('/categories/' + id);
                if(id !== '') {
                    this.load();
                }
            }
        }
    }
</script>