<template>
    <div>
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="category.name" placeholder="Введите название категории">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="category.slug" placeholder="Введите слаг категории">
            </div>       
        </div>
        <div class="row creating-row">
            <div class="col-md-6">
                <select class="form-control" v-model="category.parent_id" size="1">
                    <option value="">Выберите родительскую категорию</option>
                    <option v-if="category1.id !== category.id" v-for="category1, idx in allCategories" :key="category1.id" :value="category1.id">{{category1.name}}</option>
                </select>
            </div>                  
        </div>
        <div class="row" v-if="mode === 'update'">
            <h3>
                Список подкатегорий
            </h3>
        </div>
        <div class="private-table-scrolling" v-if="mode === 'update'">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Название категории</td>
                        <td>Слаг</td>
                        <td>Количество подкатегорий</td>
                        <td></td>
                        <td></td>   
                    </tr>
                </thead>
                <tbody>
                    <tr @dblclick="$router.push(`/categories/${category.id}`)" v-for="category, idx in children" :key="idx">
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            {{category.slug}}
                        </td>
                        <td>
                            {{category.children_count}}
                        </td>
                        <td>
                            <button class="btn btn-xs btn-warning editButton" @click="$emit('editcategory', category.id)"><span class="fa fa-edit"></span>
                            </button>
                        </td>                        
                        <td>
                            <button class="btn btn-xs btn-danger deleteButton" @click="$emit('deletecategory', category)"><span class="fa fa-trash-o"></span></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <select class="form-control" v-model="clickedCategory">
                                <option :value="[]">Выберите подкатегорию</option>
                                <option v-for="category1, idx in freeCategories" :key="category1.id" :value="category1">{{category1.name}}</option>
                            </select>                             
                        </td>
                        <td colspan="2">
                            <button class="btn btn-primary btn-xs" @click="saveParent()"><span class="fa fa-plus"></span></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['category', 'mode', 'allCategories', 'freeCategories', 'children'],
        data() {
            return {
                clickedCategory: []
            }
        },
        methods: {
            async saveParent () {
                this.clickedCategory.parent_id = this.category.id;
                const data = new FormData()
                for (let key in this.clickedCategory) {
                    if (this.clickedCategory[key] === null && key !== 'parent_id' && key !== 'created_at' && key !== 'updated_at') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    data.append(key, this.clickedCategory[key]);
                }

                try {
                    let response = await this.$http.post(`categories/${this.clickedCategory.id}`, data);
                    await this.$parent.load();
                    if (response.result == 'success') {
                        this.$parent.message = 'Категория ' + this.clickedCategory.name + ' добавлена в список подкатегорий категории ' + this.category.name;
                        this.$parent.showModal = true;
                        this.clickedCategory = [];
                    }
                } catch (e) {
                    this.$parent.message = 'Ошибка при обновлении категории';
                    this.$parent.showModal = true;                    
                }
            }
        }
    }
</script>
