<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control filter" placeholder="Введите название категории" v-model="filterName">
                </div>
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название категории</td>
                            <td>Слаг</td>
                            <td>Количество подкатегорий</td>
                            <td></td>
                            <td></td>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/categories/${category.id}`)" v-for="category, idx in categoriesFilter" :key="idx">
                            <td>
                                {{category.name}}
                            </td>
                            <td>
                                {{category.slug}}
                            </td>
                            <td>
                                {{category.children_count}}
                            </td>
                            <td>
                                <button :title="'Редактирование категории ' + category.name" class="btn btn-xs btn-warning editButton" @click="$router.push(`/categories/${category.id}`)"><span class="fa fa-edit"></span>
                                </button>
                            </td>                        
                            <td>
                                <button :title="'Удаление категории ' + category.name" class="btn btn-xs btn-danger deleteButton" @click="deletecategory(category)"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                categories: [],
                isCreate: false,
                filterName: '',
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        computed: {
            categoriesFilter: function () {
                let globalContext = this;
                return this.categories.filter(function (category) {
                    return (category.name.indexOf(globalContext.filterName) !== -1);
                })                
            }
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('categories');
                this.categories = responsedData.children;
            },

            async deletecategory (category) {
                let response = await this.$http.delete(`categories/${category.id}`);
                await this.load();
                this.$parent.message = 'Категория ' + category.name + ' успешно удалёна';
                this.$parent.showModal = true;
            }
        }
    }
</script>
