<template>
	<div class="panel panel-default full-height">
	    <div class="private-panel-body main-block">
	        <div class="white-panel">
	            <div class="row">
	                <h2>
	                    {{title}}
	                </h2>
	            </div>
	            <div class="row creating-row">
	            	<div class="col-md-12">
	            		<select class="form-control" name="" id="" @change="load()" v-model="selectedPart">
	            			<option :value="'0'">Главная страница</option>
	            			<option v-for="part, idx in parts" :value="part.id">{{part.name}}</option>
	            		</select>
	            	</div>
	            </div>
	            <div class="private-table-scrolling">
	                <table class="table table-bordered table-striped">
	                    <thead>
	                        <tr>
	                            <td>Название книги</td> 
	                            <td></td>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr v-for="product, idx in products" :key="idx">
	                            <td>
	                                {{product.name}}
	                            </td>
	                            <td>
	                            	<button class="btn btn-danger" @click="deleteLink(product.id)"><span class="fa fa-trash"></span></button>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<td>
									<model-select :options="freeProducts"
                                		v-model="newInnovation"
                                		placeholder="select item">
        							</model-select>	                        		
	                        	</td>
	                        	<td>
	                        		<button class="btn btn-primary" @click="addLink()"><span class="fa fa-plus"></span></button>
	                        	</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>          
	        </div>
	    </div> 
	</div>  
</template>

<script>
import { ModelSelect } from 'vue-search-select'
    export default {
    	props: ['title'],
        data() {
            return {
                products: [],
                selectedPart: '0',
                parts: [],
                freeProducts: [],
                newInnovation: '',
            }
        },

		components: {
			ModelSelect
		},
        mounted () {      
            this.loadOnce();
            this.load();
        },

        methods: {
            async load () {
            	let id = this.selectedPart === '' ? '' : '/' + this.selectedPart;
            	this.freeProducts = [];
            	this.products = await this.$http.get(`innovations/${this.selectedPart}`);
            	let free = await this.$http.get(`innovations/free/${this.selectedPart}`);
            	let productIds = this.products.map(item => {
            		return item.id;
            	});
            	free.forEach(item => {
				    if(productIds.indexOf(item.id) === -1) {
				        this.freeProducts.push({value: item.id, text: item.name});
				    }
				});
            },

            async loadOnce() {
            	this.parts = await this.$http.get('characteristic_types');
            },

            async addLink() {
            	let data = new FormData();
            	data.append('product_id', this.newInnovation);
            	await this.$http.post(`innovations/${this.selectedPart}`, data);
            	this.newInnovation = '';
            	this.load();
            },

            async deleteLink(id) {
            	let data = new FormData();
            	await this.$http.delete(`innovations/${this.selectedPart}/product/${id}`);
            	this.load();
            },

            onUpdate() {

            }
        }
    }
</script>
