<template>
  <div>
    <div class="cart-block">
      <div class="cart-items">
        <div v-if="orderCreated" class="success-order">
          Спасибо! <br>Ваш заказ был успешно оформлен. <br>Наш менеджер в ближайшее время свяжется с Вами.
        </div>
        <template v-else>
          <div v-if="!cart.length" class="empty-cart">
            В {{ order ? 'вашем заказе' : 'вашей корзине' }} нет товаров.
          </div>
          <template v-else v-for="item in sortedCart">
            <div class="item-line" :key="item.book.id">
              <div class="image-block">
                <img :src="item.book.image_url" alt="">
              </div>
              <div class="title-block">
                <p>{{ item.book.name }}</p>
                <p class="author">
                  {{ item.book.author }}
                </p>
              </div>
              <div class="amount-block">
                <input type="number" min="1" v-model="item.amount" @blur="checkAmounts()">
              </div>
              <div class="price-block">
                <p>{{ Number.parseFloat(item.book.price).toFixed(2) }} <span>BYN</span></p>
              </div>
              <div class="remove-block" @click="removeItem(item.book.id)">
                <i class="fa fa-trash" title="Убрать из корзины"></i>
              </div>
            </div>
          </template>
        </template>
      </div>

      <div class="cart-form">
        <div class="form-content">
          <div class="total">
            <p>Итого ({{ amount }}) товар(а)</p>
            <p>{{ total }} <span>BYN</span></p>
          </div>
          <div class="cart-input-group">
            <input id="name" name="name" type="text" v-model="name" placeholder="Имя*" required>
          </div>
          <div class="cart-input-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" v-model="email" placeholder="Email">
          </div>
          <div class="cart-input-group">
            <label for="number">Номер телефона</label>
            <input id="number"
                   name="number"
                   type="tel"
                   v-model="phone"
                   placeholder="Телефон"
                   pattern="^(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" required>
          </div>
          <div class="cart-input-group">
            <label for="text">{{ total }}</label>
            <textarea id="text" rows="4" name="text" v-model="notes" placeholder="Примечания"></textarea>
          </div>
          <button
              type="submit"
              class="buy cart-button"
              :disabled="!validForm"
              @click="sendOrder">
            <template v-if="sending">
              <i style="font-size: 20px" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </template>
            <template v-else>
              Оформить заказ
            </template>
          </button>
          <p v-show="!validForm" class="hint">
            Введите имя и хотя бы один из контактов
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="js">
  const emailRegex = new RegExp('^[a-zA-Z0-9.!#$%&\'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$');
  const phoneRegex = new RegExp('^(\\+375|80)(29|25|44|33)(\\d{3})(\\d{2})(\\d{2})$');

  export default {
    props: {
      order: Boolean
    },

    data() {
      return {
        sending: false,
        loaded: false,
        orderCreated: false,
        amount: null,
        cart: [],
        name: null,
        email: null,
        phone: '+375',
        notes: null
      }
    },

    computed: {
      total() {
        const total = this.cart.reduce((a,b) => {
          return a + ((b.amount > 0 ? b.amount : 1) * Number.parseFloat(b.book.price));
        }, 0);

        return total.toFixed(2);
      },

      validForm() {
        return this.cart.length && this.name && this.hasContact;
      },

      hasContact() {
        return emailRegex.test(this.email) || phoneRegex.test(this.phone);
      },

      sortedCart() {
        const cart = [ ...this.cart ];
        return cart.sort((a,b) => {
           return a.book.name.localeCompare(b.book.name);
        });
      }
    },

    methods: {
      checkAmounts() {
        this.cart.forEach(item => {
          if (item.amount < 1) {
            item.amount = 1;
          }
        });

        this.amount = this.cart.reduce((a,b) => a + Number.parseInt(b.amount), 0);
      },
      removeItem(id) {
        const removeIndex = this.cart.findIndex(item => item.book.id === id);
        this.cart.splice(removeIndex, 1);

        if (this.cart.length) {
          const newCartStorage = this.order ?
            this.createOrderObject() :
            this.cart.map(item => item.book.id).join(',');
          localStorage.setItem(this.order ? 'order' : 'cart', newCartStorage);
        } else {
          localStorage.removeItem(this.order ? 'order' : 'cart');
        }

        this.checkAmounts();
      },

      createOrderObject() {
        let orderObject = {};

        this.cart.forEach(item => {
          orderObject[item.book.id] = { amount: item.amount };
        });

        return JSON.stringify(orderObject);
      },

      sendOrder() {
        const data = {
          name: this.name,
          phone: this.phone,
          email: this.email,
          notes: this.notes,
          total: this.total,
          items: this.cart.map(item => {
            return {
              image_url: item.book.image_url,
              amount: item.amount,
              name: item.book.name,
              author: item.book.author,
              price: Number.parseFloat(item.book.price).toFixed(2)
            }
          })
        };

        if (this.validForm && !this.sending) {
          this.sending = true;
          this.$http.post('send-order', data).then(() => {
            this.sending = false;
            this.orderCreated = true;
            this.clearCartAndResetForm();
          }, () => {
            this.sending = false;
          });
        }
      },
      clearCartAndResetForm() {
        localStorage.removeItem(this.order ? 'order' : 'cart');
        this.cart = [];

        this.amount = 0;
        this.name = null;
        this.email = null;
        this.phone = '+375';
        this.notes = null;
      },

      initCart() {
        let promiseArray = [];
        const cartStorage = localStorage.getItem('cart') || null;
        const cartArray = cartStorage ? cartStorage.split(',') : [];

        this.amount = cartArray.length;
        cartArray.forEach(id => {
          promiseArray.push(
            this.$http.get(`book/byId/${id}`).then(response => {
              this.cart.push({ book: response && response.book, amount: 1 });
            })
          )
        });

        Promise.all(promiseArray).then(() => {
          this.loaded = true;
        });
      },

      initOrder() {
        let promiseArray = [];
        const orderStorage = localStorage.getItem('order');
        const orderBlock = JSON.parse(orderStorage);
        let amount = 0;
        
        Object.keys(orderBlock).forEach(key => {
          amount += Number.parseInt(orderBlock[key].amount);
          promiseArray.push(
            this.$http.get(`book/byId/${key}`).then(response => {
              this.cart.push({ book: response && response.book, amount: orderBlock[key].amount });
            })
          )
        });
        this.amount = amount;

        Promise.all(promiseArray).then(() => {
          this.loaded = true;
        });
      }
    },

    mounted() {
      if (this.order) {
        this.initOrder();
      } else  {
        this.initCart();
      }
    }
  }
</script>

<style scoped>
  .cart-block {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .cart-items {
    width: 65%;
  }
  .cart-form {
    width: 30%;
  }
  .item-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 8px 20px;
    border-top: 1px solid rgb(180,180,180);
  }
  .item-line:nth-child(2n) {
    background: rgb(250,250,250);
  }
  .item-line .image-block {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
  }
  .item-line .image-block img {
    max-width: 80px;
  }
  .title-block {
    width: 50%;
  }
  .price-block {
    flex: 1;
  }
  .title-block p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .price-block p {
    font-size: 18px;
    text-align: center;
  }
  .price-block p span {
    font-size: 12px;
  }
  .item-line .title-block p.author {
    font-size: 14px;
    color: rgb(180,180,180);
    max-width: 60%;
  }
  .item-line .amount-block {
    width: 15%;
    display: flex;
    justify-content: center;
  }
  .item-line .amount-block input {
    margin-top: 5px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(180,180,180);
    outline: none !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance:textfield;
  }

  .cart-form .form-content {
    padding: 10px 20px 30px;
    background:rgb(250,250,250);
    border-radius: 8px;
  }

  .form-content input, .form-content textarea {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    border-bottom: 2px solid rgb(180,180,180);
    padding-left: 3px;
    padding-bottom: 5px;
  }

  .form-content input:focus, .form-content textarea:focus{
    border-color: rgb(30,30,30);
  }

  .cart-input-group {
    margin: 40px 0;
  }
  .cart-input-group:nth-child(2){
    margin-top: 20px;
  }

  .buy.cart-button {
    display: block;
    width: 100%;
    border: none;
    outline:none;
  }
  .buy.cart-button:disabled {
    background: rgb(180,180,180);
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .total p{
    font-weight: bold;
    font-size: 20px;
  }
  .total span{
    font-size: 14px;
  }
  .remove-block {
    width: 30px;
    height: 40px;
    cursor: pointer;
  }
  .remove-block i {
    font-size: 20px;
  }
  .remove-block:hover i {
    color: red;
  }
  .success-order, .empty-cart {
    padding: 20px 0;
    font-size: 20px;
  }
  .hint {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(160,160,160);
  }

  @media screen and (max-width: 720px) {
    .cart-block {
      flex-direction: column;
      align-items: center;
    }
    .cart-items {
      width: 90%;
      margin-bottom: 50px;
    }
    .cart-form {
      width: 90%;
    }
    .item-line {
      display: block;
    }
    .title-block {
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      margin-bottom: 15px;
    }
    .item-line .title-block p {
      text-align: center;
    }
    .item-line .title-block p.author {
      max-width: 100%;
      text-align: center;
    }
    .price-block {
      display: inline-block;
      width: 34%;
    }
    .price-block p {
      font-size: 28px;
      text-align: center;
    }
    .price-block p span {
      font-size: 18px;
    }
    .item-line .image-block {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 10px;
    }
    .remove-block {
      width: 33%;
      display: inline-flex;
      justify-content: center;
    }
    .item-line .amount-block {
      width: 33%;
      display: inline-flex;
    }
    .item-line .amount-block > input {
      font-size: 18px;
      height: 30px;
      width: 40px;
      border-bottom: 2px solid rgb(180,180,180);
      padding-left: 3px;
    }
  }
</style>