<template>
    <div>
      <div v-if="pagePartName === 'nachalnaya-shkola'"
           class="price-list-button-block"
           :class="{'fixed-view': showFixed}">
          <button
              class="buy shadow-pulse"
              @click="priceRedirect">
              Заказать на класс
          </button>
      </div>
      <div class="flex-container mt-30">
          <div class="filters">
              <div class="filter-block" v-for="filter in filterArray">
                  <p  v-if="filter.name.toLowerCase() !== 'архив'">{{ filter.name }}</p>
                  <a @click="toggleFilter(value.id, filter.slug)"
                      v-for="value in filter.filters" >
                      <span :id="value.id" class="fa"></span>
                      <span class="fa fa-square-o"></span>
                      {{ value.name }}
                  </a>
              </div>
              <button
                      v-if="pagePartName === 'nachalnaya-shkola'"
                      class="buy"
                      @click="priceRedirect">
                  Заказать на класс
              </button>
          </div>
          <div class="item-list">
              <div class="flex-container">
                  <div class="bannerPlace"
                       v-for="(banner, idx) in banners"
                       :key="idx"
                       @click="bannerRedirect(banner.url)">
                      <img v-if="banner.image" :src="banner.image_url">
                  </div>
              </div>

              <div class="booksNumber">
                  <span>Товаров на странице </span>
                  <p  class="totalValue"
                      @click="perPage = 20; current_page = 1"
                      :class="{'activeTotal': perPage === 20}">
                      20
                  </p>
                  <p  class="totalValue"
                      @click="perPage = 40; current_page = 1"
                      :class="{'activeTotal': perPage === 40}">
                      40
                  </p>
                  <p  class="totalValue"
                      @click="perPage = 60; current_page = 1"
                      :class="{'activeTotal': perPage === 60}">
                      60
                  </p>
                  <p  class="totalValue"
                      @click="perPage = books.length; current_page = 1"
                      :class="{'activeTotal': perPage === books.length}">
                      Все
                  </p>
              </div>

              <div class="item resize" v-for="(item,idx) in bookPage">
                  <a :href="'/book/' + item.slug">
                      <div class="image-container">
                          <img :src="item.image_url" class="book" alt="">
                          <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">
                      </div>
                      <div class="info">
                          <p class="bookName">{{ item.name }}</p>
                          <p class="bookAuthor">{{ item.author }}</p>
                          <p class="bookPrice">{{ item.price }} BYN</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <ul v-if="lastPage > 1" class="pagination">
            <li>
                <button :disabled="current_page === 1" @click="prevPage()" v-text="'<<'"></button>
            </li>
            <li :class="{'active': current_page === n}" v-for="n in lastPage">
                <a @click="setPage(n)">{{n}}</a>
            </li>
            <li>
                <button :disabled="current_page === lastPage"  @click="nextPage()" v-text="'>>'"></button>
            </li>
        </ul>
    </div>
</template>

<script lang="js">
import { _ } from 'vue-underscore';

export default {

  props: ['url', 'filters', 'part'],

  data () {
    return {
      showFixed: false,

      perPage: 20,
      books: [],
      query: {},
      current_page: 1,
      banners: [],
      filterArray: []
    }
  },

  computed:{
    bookPage () {
      return this.books.filter((value, index) => {
        return (this.current_page - 1) * this.perPage <= index &&
            (this.current_page - 1) * this.perPage + this.perPage > index;
      });
    },

    lastPage () {
      return this.books.length % this.perPage === 0 ?
        Math.trunc(this.books.length / this.perPage) :
        Math.trunc(this.books.length / this.perPage) + 1;
    },

    pagePartName() {
      const path = window.location.pathname;

      return  path.slice(path.lastIndexOf('/') + 1);
    }
  },

  methods: {
    load () {
      this.$http.get(this.url).then(response => {
          this.books = response.books;
          this.setPagination(response.books, this.perPage);
      });
      this.$http.get('banners/' + this.part).then(response => {
          this.banners = response;
      });
    },

    toggleFilter (value, slug) {
      let query = Object.assign({}, this.$route.query);

      if (!query[slug]) {
        query[slug] = value;
      } else if (this.checkFilter(value, slug)) {
        query[slug] = this.getValueAfterRemove(value, slug);
      } else {
        query[slug] += `,${value}`;
      }

      this.$router.push({ query });
      this.getBooks(query);

      $(`#${value}`).toggleClass('fa-check');
      this.scrollToItems();
    },

    checkFilter(value, slug) {
      const queryString = this.$route.query[slug].toString();
      const array = queryString.split(',');

      return array && array.indexOf(value.toString()) > -1;
    },

    getValueAfterRemove(value, slug) {
      const queryString = this.$route.query[slug].toString();
      const array = queryString.split(',');
      array.splice(array.indexOf(value.toString()), 1);

      return array.length > 0 ? array.join() : undefined;
    },

    getBooks(query) {
        let books = [];
        let reqD = 0;
        let reqL = 0;

        for (let key in query) {
            reqL++;
        }

        if (reqL === 0) {
            this.load();
        } else {
            this.current_page = 1;
        }

        for (let key in query) {
            this.$http.get(this.url, { [key]: query[key] }).then( (response) => {
                books.push(response.books);

                reqD++;

                if (reqD === reqL) {
                    _.intersectionObjects = _.intersect = function(array) {
                        let slice = Array.prototype.slice;
                        let rest = slice.call(arguments, 1);

                        return _.filter(_.uniq(array), function(item) {
                            return _.every(rest, function(other) {
                                return _.any(other, function(element) {
                                    return _.isEqual(element, item);
                                });
                            });
                        });
                    };

                    this.books = _.intersectionObjects.apply(_, books);
                }
            });
        }
    },

    nextPage() {
      this.current_page++;
      this.scrollToItems();
    },

    prevPage() {
      this.current_page--;
      this.scrollToItems();
    },

    setPage(n) {
      this.current_page = n;
      this.scrollToItems();
    },

    scrollToItems() {
      $(`html, body`).animate({
        scrollTop: $('.slider-title').offset().top
      }, 600);
    },

    async setPagination (response, perPage = 8, currentPage = 1) {
      this.current_page = currentPage;
    },

    bannerRedirect (url) {
      window.location = url;
    },

    priceRedirect() {
      window.location = '/price/nachalnaya-shkola?form=1';
    }
  },

  created () {
    this.filterArray = JSON.parse(this.filters);
    this.getBooks(this.$route.query);
  },

  mounted() {
    for(let key in this.$route.query) {
      const array = this.$route.query[key].toString().split(',');

      array.forEach((value) => {
        $(`#${value}`).toggleClass('fa-check');
      });
    }

      window.addEventListener('scroll',() => {
          const bodyHeight = document.querySelector('body').offsetHeight;
          const footerHeight = document.querySelector('footer').offsetHeight;
          const copyrightHeight = document.querySelector('.copyright').offsetHeight;
          const bottomAnchor = bodyHeight - window.innerHeight- footerHeight - copyrightHeight;

          this.showFixed = window.scrollY > 1000 && window.scrollY < bottomAnchor;
      });
  }
}
</script>

<style scoped>
    .shadow-pulse {
        animation: shadow-pulse 1s infinite;
    }

    @keyframes shadow-pulse
    {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 0, 0.7);
        }
        100% {
            box-shadow: 0 0 0 35px rgba(255, 255, 0, 0);
        }
    }

   .bannerPlace:hover {
       cursor: pointer;
   }
   .price-list-button-block {
       position: absolute;
       right: 0;
       top: 0;
   }
    button {
       border: none;
       outline: none !important;
   }
    .price-list-button-block.fixed-view button {
        position: fixed;
        bottom: 30px;
        left: 30px;
        white-space: nowrap;
        z-index: 9999;
    }
   @media only screen and (max-width: 900px) {
       .price-list-button-block {
           display: flex;
           justify-content: center;
           position: static;
           margin-top: 10px;
       }

       .price-list-button-block.fixed-view button {
           position: fixed;
           bottom: 10px;
           left: 50%;
           white-space: nowrap;
           transform: translate(-50%);
           z-index: 9999;
       }
   }
</style>