<template>
	<div v-if="books.length > 0">
		<div class="container">
			<h2 class="slider-title mt-30">{{ name }}</h2>
		</div>
		<swiper :options="swiperOption">
			<swiper-slide class="resize" v-for="(book, idx) in books" :key="book.id">
				<a :href="`/book/${book.slug}`">
					<div class="image-container">
						<img :src="book.image_url" class="book" alt="">
						<img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
					</div>
					<div class="info">
						<p class="bookName">{{ book.name}}</p>
						<p class="bookAuthor">{{ book.author }}</p>
						<p class="bookPrice">{{ book.price }} BYN</p>
					</div>
				</a>
			</swiper-slide>
		</swiper>
	</div>
</template>

<script lang="js">
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
	props: ['url', 'name'],

	data () {
		return {
	        books: []
		}
	},

	computed: {
		swiperOption: () => {
			return {
				loop: window.innerWidth < 960,
				center: window.innerWidth < 960,
				freeMode: true,
				slidesPerView: window.innerWidth < 960 ? 0 : 5,
				spaceBetween: window.innerWidth < 960 ? 0 : 15
			}
		},	
	},

	components: {
		swiper,
    swiperSlide
	},

	created() {
		this.$http.get(this.url).then((response) => {
			this.books = response;
		});
	}
}
</script>