<template>
  <div>
    <div class="order-button-block" :class="{'fixed-view': showFixed}">
      <button
          class="buy"
          @click="orderRedirect">
        Оформить заказ
      </button>
    </div>
    <div class="flex-container mt-30">
      <div class="filters">
        <div class="filter-block" v-for="filter in filterArray">
          <p>{{ filter.name }}</p>

          <template v-for="value in filter.filters" >
            <a :id="value.id"
               class="price-list-link"
               @click="toggleFilter(value.id, filter.slug)">
              {{ value.name }}
            </a>
          </template>
        </div>
      </div>
      <div class="item-list">
        <div style="float: right" class="booksNumber">
          <span>Товаров на странице </span>
          <p  class="totalValue"
              @click="perPage = 40; current_page = 1"
              :class="{'activeTotal': perPage === 40}">
            40
          </p>
          <p  class="totalValue"
              @click="perPage = 60; current_page = 1"
              :class="{'activeTotal': perPage === 60}">
            60
          </p>
          <p  class="totalValue"
              @click="perPage = books.length; current_page = 1"
              :class="{'activeTotal': perPage === books.length}">
            Все
          </p>
        </div>
        <div style="font-size: 24px; padding: 0 15px">
          {{ selected.booktype }} {{ selected.subject }} {{ selected.form }}
        </div>
        <div class="studentsAmount">
          <label for="studentsNumber">
            Количество учеников
          </label>
          <input
            id="studentsNumber"
            type="number"
            v-model="studentsNumber"
            @change="fetchSelectedBooksAmount">
          <p>шт.</p>
        </div>

        <div class="item-line" v-for="(item,idx) in bookPage">
          <div class="amount">
            <input
                type="checkbox"
                :checked="!!selectedBooks[item.id]"
                @click="selectBook(item.id)"/>
          </div>
          <div @click.stop="openPreview(item)" class="image-container">
            <div v-if="item.preview || (item.pdf_url_service && item.pdf_url_service !== 'null')"
                 class="preview">
              <span class="fa fa-eye"></span>
            </div>
            <img :src="item.image_url" class="book" alt="">
          </div>
          <div class="infoBlock">
            <p>{{ item.name }}</p>
            <p class="author">{{ item.author }}</p>
          </div>
          <div class="priceBlock">
            <p>{{ item.price }} BYN</p>
          </div>
        </div>
      </div>
    </div>
    <ul v-if="lastPage > 1" class="pagination">
      <li>
        <button :disabled="current_page === 1" @click="prevPage()" v-text="'<<'"></button>
      </li>
      <li :class="{'active': current_page === n}" v-for="n in lastPage">
        <a @click="setPage(n)">{{n}}</a>
      </li>
      <li>
        <button
            v-text="'>>'"
            :disabled="current_page === lastPage"
            @click="nextPage()">
        </button>
      </li>
    </ul>

    <div class="popup"
         :class="{ 'opened-book': openedBook }"
         @click="openedBook = false">
      <div class="popup-inner full">
        <template v-if="selectedBook.pdf_url_service && selectedBook.pdf_url_service !== 'null'">
          <div class="mt-30 pdf_service">
            <div style="text-align:center;">
              <div style="margin:8px 0px 4px;">
                <a :href="`https://www.calameo.com/books/${selectedBook.pdf_url_service}`"
                   target="_blank">
                </a>
              </div>
              <iframe
                  :src="`//v.calameo.com/?bkcode=${selectedBook.pdf_url_service}`"
                  width="900"
                  height="500"
                  frameborder="0"
                  scrolling="no"
                  allowtransparency
                  allowfullscreen
                  style="margin:0 auto;">
              </iframe>
              <div style="margin:4px 0px 8px;"><a href="http://www.calameo.com/">Publish at Calameo</a></div>
            </div>
          </div>
        </template>
        <template v-else-if="selectedBook.preview">
          <embed
              class="mt-30"
              :src="`${selectedBook.preview_url}#page=1&zoom=60`"
              width="100%"
              height="90%">
        </template>
        <a class="popup-close" @click="openedBook = false">x</a>
      </div>
    </div>
  </div>
</template>

<script lang="js">
  import { _ } from 'vue-underscore';

  export default {

    props: ['url', 'filters', 'part'],

    data () {
      return {
        showFixed: false,
        openedBook: false,

        perPage: 40,
        books: [],
        query: {},
        current_page: 1,
        banners: [],
        filterArray: [],
        selectedBooks: {},
        selectedBook: {},
        studentsNumber: null,

        selected: {
          form: '',
          subject: '',
          booktype: ''
        }
      }
    },

    computed:{
      bookPage () {
        return this.books
          .sort((a,b) => {
            return a.name.localeCompare(b.name);
          })
          .filter((value, index) => {
            return (this.current_page - 1) * this.perPage <= index &&
              (this.current_page - 1) * this.perPage + this.perPage > index;
          });
      },

      lastPage () {
        return this.books.length % this.perPage === 0 ?
          Math.trunc(this.books.length / this.perPage) :
          Math.trunc(this.books.length / this.perPage) + 1;
      },

      sortedBooks() {
        return [ ...this.books ];
      }
    },

    methods: {
      load () {
        this.$http.get(this.url).then(response => {
          this.books = response.books.map(item => {
            const amount = this.selectedBooks[item.id] ? this.selectedBooks[item.id].amount : 0;

            return { ...item, amount: amount };
          });
          this.setPagination(response.books, this.perPage);
        });
      },

      toggleFilter (value, slug) {
        let query = Object.assign({}, this.$route.query);

        $(`#${query[slug]}`).removeClass('active-link');
        query[slug] = value;
        $(`#${value}`).addClass('active-link');
        this.getSelectedText(slug, value);

        this.$router.push({ query });
        this.getBooks(query);

        this.scrollToItems();
      },

      getSelectedText(slug, value) {
        const filter = this.filterArray.find(filter => filter.slug === slug);

        this.selected[slug] = filter.filters.find(item => item.id === value).name;
      },

      fetchSelectedBooksAmount() {
        Object.keys(this.selectedBooks).forEach(key => {
          this.selectedBooks[key].amount = this.studentsNumber;
        });

        localStorage.setItem('studentsNumber', this.studentsNumber);
        localStorage.setItem('order', JSON.stringify(this.selectedBooks));
      },

      getBooks(query) {
        let books = [];
        let reqD = 0;
        let reqL = 0;

        for (let key in query) {
          reqL++;
        }

        if (reqL === 0) {
          this.load();
        } else {
          this.current_page = 1;
        }

        for (let key in query) {
          this.$http.get(this.url, { [key]: query[key] }).then( (response) => {
            books.push(response.books);

            reqD++;

            if (reqD === reqL) {
              _.intersectionObjects = _.intersect = function(array) {
                let slice = Array.prototype.slice;
                let rest = slice.call(arguments, 1);

                return _.filter(_.uniq(array), function(item) {
                  return _.every(rest, function(other) {
                    return _.any(other, function(element) {
                      return _.isEqual(element, item);
                    });
                  });
                });
              };

              const booksAfterIntersection = _.intersectionObjects.apply(_, books);

              this.books = booksAfterIntersection.map(item => {
                const amount = this.selectedBooks[item.id] ? this.selectedBooks[item.id].amount : 0;

                return { ...item, amount: amount };
              })
            }
          });
        }
      },

      nextPage() {
        this.current_page++;
        this.scrollToItems();
      },

      prevPage() {
        this.current_page--;
        this.scrollToItems();
      },

      setPage(n) {
        this.current_page = n;
        this.scrollToItems();
      },

      scrollToItems() {
        $(`html, body`).animate({
          scrollTop: $('.slider-title').offset().top
        }, 600);
      },

      async setPagination (response, perPage = 8, currentPage = 1) {
        this.current_page = currentPage;
      },

      orderRedirect () {
        window.location = '/order';
      },

      selectBook(id) {
        if (!this.selectedBooks[id]) {
          this.selectedBooks[id] = { amount: this.studentsNumber };
        } else {
          delete this.selectedBooks[id];
        }

        localStorage.setItem('order', JSON.stringify(this.selectedBooks));
      },

      openPreview(item) {
        if (item.preview || (item.pdf_url_service && item.pdf_url_service !== 'null')) {
          this.openedBook = true;
          this.selectedBook = item;
        }
      }
    },

    mounted() {
      const orderStorage = localStorage.getItem('order');
      const orderBlock = orderStorage && JSON.parse(orderStorage);
      this.selectedBooks = { ...orderBlock };
      this.studentsNumber = localStorage.getItem('studentsNumber') || null;

      Promise.resolve(this.filters)
        .then((data) => {
          this.filterArray = JSON.parse(data);
          this.filterArray.forEach(filter => {
            const slugValue = Number.parseInt(this.$route.query[filter.slug]);

            if (slugValue) {
              this.selected[filter.slug] = filter.filters.find(item => item.id === slugValue).name;
            }
          });
        })
        .then(() => {
          for(let key in this.$route.query) {
            const array = this.$route.query[key].toString().split(',');
            array.forEach((value) => {
              $(`#${value}`).addClass('active-link');
            });
          }
        });

      this.getBooks(this.$route.query);

      window.addEventListener('scroll',() => {
        const bodyHeight = document.querySelector('body').offsetHeight;
        const footerHeight = document.querySelector('footer').offsetHeight;
        const copyrightHeight = document.querySelector('.copyright').offsetHeight;
        const bottomAnchor = bodyHeight - window.innerHeight- footerHeight - copyrightHeight;

        this.showFixed = window.scrollY > 1000 && window.scrollY < bottomAnchor;
      });
    }
  }
</script>

<style lang="css" scoped>
  .opened-book {
    display: block;
  }
  .bannerPlace:hover {
    cursor: pointer;
  }
  .studentsAmount {
    margin: 30px 0;
    padding: 0 15px;
  }
  .studentsAmount label {
    font-size: 18px;
  }
  .studentsAmount input {
    margin-left: 20px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid rgb(140,140,140);
  }
  .order-button-block {
    position: absolute;
    right: 0;
    top: 0;
  }
  .order-button-block button {
    border: none;
    outline: none !important;
  }
  .order-button-block.fixed-view button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    white-space: nowrap;
    z-index: 9999;
  }
  .item-line {
    display: flex;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid rgb(140,140,140);
    padding: 0 10px;
  }
  .item-line .image-container {
    width: 100px;
    cursor: pointer;
  }
  .preview {
    position: absolute;
    top: 52px;
    right: 11px;
    z-index: 9;
  }
  .preview span{
    font-size: 24px;
    color: rgb(180,180,180);
  }
  .item-line .image-container img {
    width: 60px;
    max-height: 80px;
    object-fit: contain;
  }
  .item-line .infoBlock {
    flex: 1;
  }
  .item-line .infoBlock p{
    font-size: 14px;
  }
  .item-line .infoBlock p.author{
    color: rgb(140, 140, 140);
  }
  .item-line .amount {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-line .amount input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid rgb(140,140,140);
  }
  .item-line .priceBlock {
    width: 120px;
    padding: 0 10px;
  }
  .item-line .priceBlock p{
    font-size: 16px;
  }
  .price-list-link {
    padding-left: 0 !important;
    font-family: MuseoSansCyrlLight !important;
  }
  .price-list-link.active-link {
    cursor: default !important;
    color: black !important;
    font-family: MuseoSansCyrlMedium !important;
  }
  @media only screen and (max-width: 900px) {
    .order-button-block {
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 10px;
    }

    .order-button-block.fixed-view button {
      position: fixed;
      bottom: 10px;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%);
      z-index: 9999;
    }
  }
  @media only screen and (max-width: 650px) {
    .item-line {
      display: block;
      height: auto;
      padding: 15px 0;
    }
    .item-line .image-container{
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item-line .infoBlock p{
      text-align: center;
      padding: 0 10px;
    }
    .item-line .infoBlock p.author{
      text-align: center;
      padding: 0 20px;
    }
    .item-line .amount {
      display: inline-flex;
      width: 100%;
      padding-top: 10px;
    }
    .item-line .priceBlock {
      display: inline-flex;
      width: 49%;
      justify-content: center;
    }
  }
</style>