@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
  font-family: MuseoSansCyrlThin;
  src: url("/assets/index/fonts/MuseoSansCyr/Thin.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}


::placeholder {
    color: rgb(180, 180, 180);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(180, 180, 180);
}

::-ms-input-placeholder {
    color: rgb(180, 180, 180);
}
.search-form {
  width: 100%;
  position: relative;
}
.search-form__input {
  background-color: rgb(237, 237, 237);
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  outline: none;
  font-family: MuseoSansCyrlRegular;
  color: rgb(140, 140, 140);
  margin-top: 14px;
}
.search-form__dropdown {
  position: absolute;
  top: 40px;
  z-index: 9;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 382px;
  overflow: auto;
  padding: 30px 20px;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(30, 30, 30);
}

.search-form__dropdown div, .search-form__dropdown a {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.search-form__dropdown a .image-container {
  width: 22%;
  height: auto;
  display: inline-block;
}
.search-form__dropdown a .image-container img {
  width: 100%;
}

.search-form__dropdown a .info {
  vertical-align: top;
  width: 60%;
  margin-left: 9%;
  display: inline-block;
  text-align: left;
}

.search-form__dropdown a .info h2 {
  margin-top: 0;
  font-size: 14px;
  font-family: MuseoSansCyrlRegular;
  color: rgb(30, 30, 30);
  margin-bottom: 10px;
}

.search-form__dropdown a .info p{
  margin-top: 0;
  font-size: 14px;
  font-family: MuseoSansCyrlLight;
  color: rgb(30, 30, 30);
  margin-bottom: 10px;
}



//лента
.image-container {
  width: 50%;
  transition: .8s;
  position: relative;
  @media screen and (max-width: 960px){
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
}
.book {
  position: relative;
  width: 100%;
  vertical-align: bottom;
}
.resize {
  margin: 5vh 0;
  & a{
    text-decoration: none;
  }
  @media screen and (min-width: 960px){
    &:nth-child(1){
      margin-left: 3%;
    }
    &:hover div.image-container{
      transform: translate(-15%, -20px);
      transform: scale(1.2);
    }
    &:hover  .info {
      transform: translate(-5%, 35px);
    }
  }
}
.item-list .resize{
  margin-left: 0 !important; 
}
.shadow {
  width: 100%;
  position: absolute;
  left: 100%;
  bottom: 0;
}
.info {
  transition: .8s;
  margin-top: 5px;
  position: relative;
  @media screen and (max-width: 960px) {
    text-align: center;
  }
}
.bookName, .bookAuthor {
  display: inline-block;
  width: 90%;
  margin-bottom: 3px;
  color: rgb(30, 30, 30);
  font-size: 14px;
}
.bookAuthor {
  color: rgb(167, 167, 167);
}
.bookPrice {
  width: 49%;
  margin-top: 3px;
  color: rgb(30, 30, 30);
  font-size: 12px;  
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}
.bookName, .bookPrice {
  font-family: MuseoSansCyrlRegular;
}
.bookAuthor {
  font-family: MuseoSansCyrlLight;
}
.item{
  display: inline-block;
  width: 25%;
  vertical-align: top;
  @media screen and (max-width: 960px) {
    width: 100%;
    overflow-x: hidden;
  }
}
.flex-container{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}
.filters{
  width: 25%;
  & .filter-block{
    margin-bottom: 30px;
    margin-top: 30px;
    @media screen and (min-width: 960px) {
      margin-left: 10px;
    }
    & p{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 14px;
    }
    & a{
      font-size: 14px;
      margin-bottom: 7px;
      text-decoration: none;
      display: block;
      position: relative;
      padding-left: 20px;
      margin-left: 5px;
      font-family: MuseoSansCyrlThin;
      cursor: pointer;
      @media screen and (max-width: 960px) {
        margin-left: 0;
      }
      &:hover{
        color: rgb(100, 100, 100);
      }
      & span{
        position: absolute;
        left: 0;
      }
    }
  }
  @media screen and (max-width: 960px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}
.item-list{
  width: 70%;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.bannerPlace{
  width: 50%;
  & img {
    width: 100%;
  }
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.booksNumber{
  & span {
    font-size: 16px;
  }
  & .totalValue {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    color: rgb(180, 180, 180);
  }
  & .activeTotal {
    color: #3c3c3c;
  }
  text-align: right;
  padding-right: 5%;
}
