@font-face{
	font-family: 'sf-ui-display-black';
	src: url("../fonts/sf-ui-display-black-58646a6b80d5a.otf") format("opentype");
	font-style: normal;
}
@font-face{
	font-family: 'sf-ui-display-bold';
	src: url("../fonts/sf-ui-display-bold-58646a511e3d9.otf") format("opentype");
	font-style: normal;
}
@font-face{
	font-family: 'sf-ui-display-heavy';
	src: url("../fonts/sf-ui-display-heavy-586470160b9e5.otf") format("opentype");
	font-style: normal;
}
@font-face{
	font-family: 'sf-ui-display-light';
	src: url("../fonts/sf-ui-display-light-58646b33e0551.otf") format("opentype");
	font-style: normal;
}
@font-face{
	font-family: 'sf-ui-display-medium';
	src: url("../fonts/sf-ui-display-medium-58646be638f96.otf") format("opentype");
	font-style: normal;
}
@font-face{
	font-family: 'sf-ui-display-thin';
	src: url("../fonts/sf-ui-display-thin-58646e9b26e8b.otf") format("opentype");
	font-style: normal;
}