<template>
	<div class="search-form" v-click-outside="hide" @click="show()">
		<input class="search-form__input" type="text" v-model="template" placeholder="Поиск">
		<div v-if="showDropdown" class="search-form__dropdown">
			<a :href="'/book/' + book.slug" v-for="book, idx in searchedBooks.arr">
				<div class="image-container">
					<img :src="book.image_url" alt="">
				</div>
				<div class="info">
					<h2>
						{{book.name}}
					</h2>
					<p>
						{{book.author}}
					</p>
				</div>
			</a>
			<div v-if="searchedBooks.length === 0 && showDropdown">
				Книги не найдены
			</div>			
		</div>
	</div>
</template>

<script>
	import ClickOutside from 'vue-click-outside'
	export default {
		data () {
			return {
				template: '',
				books: [],
				showDropdown: false

			}
		},
		created () {
			this.load();
		},
		computed: {
			searchedBooks () {
				let _vm = this;
				let arr = _vm.books.filter(function(book) {
					return book.name.toLowerCase().indexOf(_vm.template.toLowerCase()) != -1;
				});
				arr = arr.slice(0, 10); 
				let length = arr.length;
				return {
					arr: arr,
					length: length
				}
			}
		},
		methods: {
			async load () {
				this.books = await this.$http.get('books/all');
			},
			hide() {
				this.showDropdown = false;
				$('.search-form__input').css('border-bottom-left-radius','22px');
				$('.search-form__input').css('border-bottom-right-radius','22px');
			},
			show() {
				this.showDropdown = true;
				$('.search-form__input').css('border-bottom-left-radius','0px');
				$('.search-form__input').css('border-bottom-right-radius','0px');
			}
		},

		directives: {
			ClickOutside
		}
	}
</script>