<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form 
                        :filter="filter" 
                        :mode="'create'" 
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                filter: {
                    name: '',
                    characteristic_id: 0,
                },
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
        },

        methods: {

            async load () {
            },

            async save () {
                /*
                 *todo: add flash messages
                 */
                const data = new FormData();
                for (let key in this.filter) {
                    data.append(key, this.filter[key]);
                }

                try {
                    let response = await this.$http.post('filters', data);
                    if (response.success) {
                        this.flash(response.success, 'success', {
                            timeout: 3000
                        });
                        this.$router.push(response.route);
                    }
                    this.filter = {
                        name: '',
                    	characteristic_id: 0,               
                    };
                    return
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                     
                }
            }
        }
    }
</script>
