 <template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}} {{filter.name}}
                </h2>
            </div>
            <creating-form 
                        :filter="filter" 
                        :mode="'update'"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save(filter)">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="$router.push('/filters')">Вернуться к списку</button>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                filter: {
                    name: '',
                    characteristic_id: 0,
                },
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                this.filter = await this.$http.get(`filters/${this.$route.params.id}`);
            },

            async save (filter) {
                const data = new FormData()
                for (let key in this.filter) {
                    data.append(key, this.filter[key]);
                }

                try {
                    let response = await this.$http.post(`filters/${this.filter.id}`, data);
                    await this.load();
                } catch (e) {                   
                }
            }
        }
    }
</script>