<template>
    <div>
        <div class="row creating-row">
            <div class="col-md-6 required-field">
                <input type="text" class="form-control" v-model="filter.name" placeholder="Введите название фильтра">
                <span v-if="!filter.name" class="fa fa-exclamation-triangle error"></span>
            </div>
            <div class="col-md-6">
                <select :class="{'empty-required-value': filter.characteristic_id === 0}" class="form-control" v-model="filter.characteristic_id" size="1">
                	<option :value="0" disabled hidden>Выберите тип фильтра</option>
                    <option v-for="characteristic, idx in characteristics" :value="characteristic.id">{{characteristic.name}}</option>
                </select>
            </div>       
        </div>       
    </div>
</template>

<script>
    export default {
        props: ['filter', 'mode'],
        data() {
            return {
                characteristics: []
            }
        },
        created() {
            this.load();
        },
        methods: {
            async load() {
                this.characteristics = await this.$http.get('filters/characteristics');
            },
        }
    }
</script>
