<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control filter" placeholder="Введите название фильтра" v-model="filterName">
                </div>             
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название фильтра</td>
                            <td></td>
                            <td></td>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/filters/${filter.id}`)" v-for="filter, idx in filtersComputed" :key="idx">
                            <td>
                                {{filter.name}}
                            </td>                           
                            <td>
                                <button :title="'Редактирование фильтра ' + filter.name" class="btn btn-xs btn-warning editButton" @click="$router.push(`/filters/${filter.id}`)"><span class="fa fa-edit"></span>
                                </button>
                            </td>                        
                            <td>
                                <button :title="'Удаление фильтра ' + filter.name" class="btn btn-xs btn-danger deleteButton" @click="deletefilter(filter)"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                filters: [],
                filterName: '',                         
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        computed: {
        	filtersComputed: function () {
                let globalContext = this;
                return this.filters.filter(function (filter) {
                    return (filter.name.indexOf(globalContext.filterName) !== -1);
                })                
            }
        },

        methods: {          

            async load () {
               let response = await this.$http.get('filters');
               this.filters = response;
            },

            async deletefilter (filter) {
                let response = await this.$http.delete(`filters/${filter.id}`);
                await this.load();
            },        
        }
    }
</script>
