<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form 
                        :characteristic="characteristic" 
                        :mode="'create'" 
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                characteristic: {
                    name: '',
                    characteristic_type_id: 0,
                    // items: [],
                    slug: '',
                    visible: false
                },
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
        },

        methods: {

            async load () {
            },

            async save () {
                /*
                 *todo: add flash messages
                 */
                const data = new FormData();
                for (let key in this.characteristic) {
                    if (Array.isArray(this.characteristic[key])) {
                        data.append(key, JSON.stringify(this.characteristic[key]));
                        continue;
                    }   
                    data.append(key, this.characteristic[key]);
                }

                try {
                    let response = await this.$http.post('characteristics', data);
                    if (response.success) {
                        this.flash(response.success, 'success', {
                            timeout: 3000
                        });
                        this.$router.push(response.route);
                    }
                    this.characteristic = {
                        name: '',
	                    characteristic_type: '',
                        // items: [],
                        slug: '',
	                    visible: false                  
                    };
                    return
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                     
                }
            }
        }
    }
</script>
