 <template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}} {{characteristic.name}}
                </h2>
            </div>
            <creating-form 
                        :characteristic="characteristic" 
                        :mode="'update'"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save(characteristic)">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="$router.push('/characteristics')">Вернуться к списку</button>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                characteristic: {
                    name: '',
                    characteristic_type_id: 0,
                    // items: [],
                    slug: '',
                    visible: false
                },
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                this.characteristic = await this.$http.get(`characteristics/${this.$route.params.id}`);
            },

            async save (characteristic) {
                const data = new FormData()
                for (let key in this.characteristic) {
                    if (this.characteristic[key] === null && key !== 'created_at' && key !== 'updated_at') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    data.append(key, this.characteristic[key]);
                }

                try {
                    let response = await this.$http.post(`characteristics/${this.characteristic.id}`, data);
                    await this.load();
                    if (response.result == 'success') {
                        this.$parent.message = 'Характеристика ' + this.characteristic.name + ' обновлёна';
                        this.$parent.showModal = true;
                    }
                } catch (e) {
                    this.$parent.message = 'Ошибка при обновлении характеристики';
                    this.$parent.showModal = true;                    
                }
            }
        }
    }
</script>