<template>
    <div>
        <div class="row creating-row">
            <div class="col-md-6 required-field">
                <input type="text" class="form-control" v-model="characteristic.name" placeholder="Введите название категории">
                <span v-if="!characteristic.name" class="fa fa-exclamation-triangle error"></span>
            </div>
            <div class="col-md-6">
                <select :class="{'empty-required-value': characteristic.characteristic_type_id === 0}"class="form-control" v-model="characteristic.characteristic_type_id" size="1">
                	<option :value="0" disabled hidden>Выберите тип категории</option>
                    <option v-for="type, idx in types" :value="type.id">{{type.name}}</option>
                </select>
            </div>       
        </div>
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="characteristic.slug" placeholder="Слаг">
            </div>
       		<!-- <div class="col-md-3"><h4>Показывать в меню</h4></div>
            <div class="col-md-3" style="vertical-align: middle;">
                <input type="checkbox" class="form-control" v-model="characteristic.visible">
            </div>  -->                 
        </div>       
    </div>
</template>

<script>
    export default {
        props: ['characteristic', 'mode'],
        data() {
            return {
                newFilter: {
                    name: '',
                    slug: ''
                },
                types: []
            }
        },
        created() {
            this.load();
        },
        methods: {
            async load() {
                this.types = await this.$http.get('characteristic_types');
            },
            addFilter() {
                if(this.filterPassValidation(this.newFilter)) {
                    this.pushFilter(this.newFilter);
                    window.alert('Фильтр ' + this.newFilter.name + ' добавлен в список');                    
                    this.newFilter = this.clearFilter(this.newFilter);        
                } else {
                    window.alert('Для добавления фильтра необходимо заполнить все поля');                    
                }
            },
            deleteFilter(idx) {
                this.characteristic.items.splice(idx, 1);
            },
            filterPassValidation(filter) {
                return filter.name !== '' && filter.slug !== '';
            },
            pushFilter(filter) {
                this.characteristic.items.push({
                    name: filter.name,
                    slug: filter.slug
                });             
            },
            clearFilter(filter) {
                return filter = {
                    name: '',
                    slug: ''                    
                };
            }
        }
    }
</script>
