<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control filter" placeholder="Введите название категории" v-model="filterName">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-md refreshButton" @click="refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>                
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название категории</td>
                            <td>Раздел категории</td>
                            <!-- <td>Видимые в меню</td> -->
                            <td></td>
                            <td></td>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/characteristics/${characteristic.id}`)" v-for="characteristic, idx in characteristics" :key="idx">
                            <td>
                                {{characteristic.name}}
                            </td>
                            <td>
                            	{{characteristic.type_name}}
                            </td>
							<!-- <td>
                            	<input type="checkbox" class="form-control" v-model="characteristic.visible" :disabled="true">
                            </td>    -->                         
                            <td>
                                <button :title="'Редактирование характеристики ' + characteristic.name" class="btn btn-xs btn-warning editButton" @click="$router.push(`/characteristics/${characteristic.id}`)"><span class="fa fa-edit"></span>
                                </button>
                            </td>                        
                            <td>
                                <button :title="'Удаление характеристики ' + characteristic.name" class="btn btn-xs btn-danger deleteButton" @click="deletecharacteristic(characteristic)"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-buttons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===1" @click="prevPage()">Предыдущая</button>
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===pagination.last_page" @click="nextPage()">Следующая</button>
                </div>
            </div>            
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                characteristics: [],
                isCreate: false,
                filterName: '',
                pagination: {
                    current_page: 1,
                    from: 1,
                    last_page: 1,
                    per_page: 8,
                    to: '',
                    total: ''
                },     
                filters: {
                    page: 1,
                    name: ''
                }                           
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        methods: {

            refresh () {
                this.filters.page = 1;
                this.filters.name = this.filterName;
                this.load();
            },            

            async load () {
               let response = await this.$http.get('characteristics', {page: this.filters.page, name: this.filters.name});
               this.characteristics = response.data;
               await this.setPagination(response);
            },

            async deletecharacteristic (characteristic) {
                let response = await this.$http.delete(`characteristics/${characteristic.id}`);
                await this.load();
                this.$parent.message = 'Характеристика ' + characteristic.name + ' успешно удалёна';
                this.$parent.showModal = true;
            },

            async nextPage() {
                this.filters.page = ++this.pagination.current_page;
                await this.load();
            },

            async prevPage() {
                this.filters.page = --this.pagination.current_page;
                await this.load();
            },            

            async setPagination (response) {
                this.pagination = {
                    current_page: response.current_page,
                    from: response.from,
                    last_page: response.last_page,
                    per_page: response.per_page,
                    to: response.to,
                    total: response.total                    
                }
            },            
        }
    }
</script>
