 <template>
    <div class="panel panel-default main-block">
        <div class="panel-body nopadding full-panel">
            <div class="white-panel">
                <div class="row">
                    <h2>
                        Характеристики книги {{product.name}}
                    </h2>
                </div>
                <div class="row creating-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.name" placeholder="Название книги">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.author" placeholder="Автор книги">
                    </div>                    
                </div>
                <div class="row creating-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.year" placeholder="Год издания">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.page_number" placeholder="Количество страниц">
                    </div>                    
                </div>                 
                <div class="row creating-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.cover_type" placeholder="Тип обложки">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="product.isbn" placeholder="ISBN">
                    </div>                    
                </div> 
                <div class="row creating-row">
                    <div class="col-md-6">
                        <input v-model="product.decor" class="form-control" placeholder="Введите оформление книги">
                    </div>
                    <div class="col-md-6">
                        <input v-model="product.illustration" class="form-control" placeholder="Введите иллюстрацию книги">
                    </div>              
                </div>                 
                <div class="row creating-row">
                    <div class="col-md-3">
                        <input type="text" min="0" class="form-control" v-model="product.length" placeholder="Длина">
                    </div>
                    <div class="col-md-3">
                        <input type="text" min="0" class="form-control" v-model="product.width" placeholder="Ширина">
                    </div>
                    <div class="col-md-3">
                        <input type="text" min="0" class="form-control" v-model="product.thickness" placeholder="Толщина">
                    </div>            
                    <div class="col-md-3">
                        <input type="text" min="0" class="form-control" v-model="product.weight" placeholder="Масса">
                    </div>                     
                </div>  
                <div class="saveButtons">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                        <button class="btn btn-primary btn-md" @click="$router.push('/products')">Вернуться к списку</button>
                    </div>                
                </div>
            </div>                                
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                product: {
                    name: '',
                    image: null,
                    image_url: null,                    
                    about_book: '',
                    author: '',
                    isbn: '',
                    cover_type: '',
                    decor: '',
                    illustration: '',
                    page_number: '',
                    width: '',
                    length: '',
                    thickness: '',
                    weight: '',
                    price: '',
                    book_id: '',
                    video: '',
                    additional_info: '',
                    year: '',
                },        
            }    
        },

        mounted () {   
            this.load();
        },

        methods: {
            async load () {
                let response = await this.$http.get(`products/${this.$route.params.id}`); 
                this.product = response.product; 
            },

            async save () {
                const data = new FormData()
                for (let key in this.product) {
                    data.append(key, this.product[key]);
                }

                try {
                    let response = await this.$http.post(`products/${this.$route.params.id}`, data);
                    this.flash('Изменения сохранены', 'success', { timeout: 3000 });
                    await this.load();
                    $('#uploader').val('').clone(true);
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                    
                }
            },
        }
    }
</script>