 <template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Имя пользователя</td>
                            <td>Контакты</td>
                            <td>Отзыв</td>
                            <td>Показывать на сайте</td> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="comment, idx in comments" :key="idx">
                            <td>
                                {{comment.user_name}}
                            </td>
                            <td>
                                {{comment.contacts}}                            
                            </td>                            
                            <td>
                                {{comment.review}}                            
                            </td>
                            <td>
                                <input type="checkbox" class="form-control" v-model="comment.visible">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="saveComments()">Сохранить изменения</button>
                    <button class="btn btn-primary btn-md" @click="$router.push(`/products/${$route.params.id}`)">Вернуться назад</button>
                </div> 
            </div>          
            <!-- <div class="page-buttons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===1" @click="prevPage()">Предыдущая</button>
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===pagination.last_page" @click="nextPage()">Следующая</button>
                </div>
            </div>  -->           
        </div>
    </div>     
</template>

<script>
    export default {
        props: ['title'],
        data() {
            return {
                product: [],
                comments: []
            }
        },

        mounted () {    
            this.product = window.localStorage.getItem('current_product');      
            this.load();
        },

        methods: {
            async load () {
                let response = await this.$http.get(`products/${this.$route.params.id}/comments`);  
                this.comments = response.comments;         
            },

            async saveComments () {
            	for(let i = 0; i < this.comments.length; i++) {
	                const data = new FormData();
	                let id = this.comments[i].id;
	                for (let key in this.comments[i]) {
	                    data.append(key, this.comments[i][key]);
	                }

	                try {
	                    let response = await this.$http.post(`comments/${id}`, data);
	                } catch (e) {} 
                }  
                await this.load();      	
            }
        }
    }
</script>