<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form
                        :product="product"
                        :mode="'create'"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    import $ from 'jquery'
    export default {
        props: ['title'],
        data() {
            return {
                product: {
                    name: '',
                    slug: '',
                    image: null,
                    image_url: null,  
                    preview: null,
                    preview_url: null,                  
                    about_book: '',
                    author: '',
                    isbn: '',
                    cover_type: '',
                    decor: '',
                    illustration: '',
                    page_number: '',
                    width: '',
                    length: '',
                    thickness: '',
                    weight: '',
                    price: '',
                    book_id: '',
                    video: '',
                    additional_info: '',
                    year: '',
                    pdf_url_service: ''
                    // characteristic_type_id: 0,

                },
                categories: [],
                imageName: '',
                pdfName: ''
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
        },

        methods: {

            async save () {
                const data = new FormData();
                for (let key in this.product) {               
                    data.append(key, this.product[key]);
                }

                try {
                    let response = await this.$http.post('products', data);
                    this.flash('Книга успешно создана', 'success', { timeout: 3000 });
                    if (response.route) {
                        this.$router.push(response.route);
                        return;
                    }
                    this.product = {
                        name: '',
                        image: null,
                        image_url: null,  
                        preview: null,
                        preview_url: null,                  
                        about_book: '',
                        author: '',
                        isbn: '',
                        cover_type: '',
                        decor: '',
                        illustration: '',
                        page_number: '',
                        width: '',
                        length: '',
                        thickness: '',
                        weight: '',
                        price: '',
                        book_id: '',
                        video: '',
                        additional_info: '',
                        year: '',
                        // characteristic_type_id: 0,                  
                    };
                    this.imageName = '';
                    this.pdfName = '';
                    $('#uploader').val('').clone(true);
                    return
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error');
                    return;                     
                }
            },

            saveImage (e) {
                this.product.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
            }
        }
    }
</script>
