<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}} {{product.name}}
                </h2>
            </div>
            <updating-form 
                        :product="product" 
                        :mode="'update'" 
                        :imageName="imageName"
                        :pdfName="pdfName" 
                        :audios="audios"
                        @delete-pdf="deletePdf"
                        @fetch-categories="load()"
            ></updating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="$router.push('/products')">Вернуться к списку</button>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
    import UpdatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                product: {
                    name: '',
                    slug: '',
                    image: null,
                    image_url: null,   
                    preview: null,
                    preview_url: null,                 
                    about_book: '',
                    author: '',
                    isbn: '',
                    cover_type: '',
                    decor: '',
                    illustration: '',
                    page_number: '',
                    width: '',
                    length: '',
                    thickness: '',
                    weight: '',
                    price: '',
                    book_id: '',
                    video: '',
                    additional_info: '',
                    year: '',
                    pdf_url_service: '',
                    // characteristic_type_id: 0,
                },
                imageName: '',
                hideImage: false,
                pdfName: '',
                hidePdf: false,
                audios: []
            }
        },

        components: {
            UpdatingForm
        },

        mounted () {          
            this.load();
        },

        methods: {
            async load () {
                let response = await this.$http.get(`products/${this.$route.params.id}`); 
                this.product = response.product; 
                this.audios = response.audios;  
            },

            async save () {
                const data = new FormData()
                for (let key in this.product) {
                    data.append(key, this.product[key]);
                }

                try {
                    let response = await this.$http.post(`products/${this.$route.params.id}`, data);
                    this.flash('Изменения сохранены', 'success', { timeout: 3000 });
                    await this.load();
                    $('#uploader1').val('').clone(true);
                    $('#uploader2').val('').clone(true);
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', { timeout: 3000 });
                    return;                    
                }
            },

            async deletePdf () {
                await this.$http.delete(`product-preview/${this.product.id}`);
                this.flash('Pdf файл удален', 'success', { timeout: 3000 });
                this.load();
            }
        }
    }
</script>