<template>
    <div class="private-table-scrolling">
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="product.name" placeholder="Введите название книги">
            </div> 
            <div class="col-md-6">
                <input v-model="product.author" type="text" class="form-control" placeholder="Введите автора">
            </div>      
        </div>

        <div class="row creating-row">
            <div class="col-md-4"> 
                <div class="own-type-file">            
                    <label for="uploader1" class="custom-label"> 
                        Загрузить PDF 
                    </label> 
                    <input type="file" accept="application/pdf" @change="savePdf" id="uploader1">{{product.preview}}
                </div>                   
            </div>
            <div class="col-md-2" @click="$emit('delete-pdf')">
                <button v-if="product.preview" class="btn btn-xs btn-danger">Удалить pdf</button>
            </div> 
            <div class="col-md-4">           
                    <input type="text" class="form-control" v-model="product.pdf_url_service" placeholder="Ссылка на pdf">
            </div> 
        </div>

        <div class="row creating-row">
            <div class="col-md-4">
                <input v-model="product.price" type="text" class="form-control" placeholder="Введите цену на книгу">
            </div>
            <div class="col-md-1">
                <b>BYN</b>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <input type="text" class="form-control" v-model="product.slug" placeholder="Введите слаг книги">
            </div>                                 
        </div>

        <div class="row creating-row"> 
            <div class="col-md-5">
                <div class="own-type-file">           
                    <label for="uploader2" class="custom-label">
                        Загрузить обложку книги
                    </label>
                    <input type="file" @change="saveImage" id="uploader2">{{$parent.imageName}}
                </div>                  
            </div>  
            <div class="col-md-4 nopadding">
                <h4 class="text-right" style="padding-right: 0;">https://www.youtube.com/watch?v=</h4></div>
            <div class="col-md-3 nopadding">
                <input type="text" class="form-control" v-model="product.video" placeholder="Введите ссылку на Youtube">
            </div>                           
        </div>   

        <div class="row creating-row" v-if="(!$parent.hideImage) && (mode === 'update')">
            <div class="col-md-4 col-md-offset-4 uploadedImage">
                <img :src="product.image_url" alt="Ошибка загрузки">
            </div>
        </div>

        <div  v-if="mode==='update'" class="row creating-row">
            <div class="col-md-12">
                <label for="aboutBook">Информация о книге</label>
                <about-book-editor :editorToolbar="customToolbar" useCustomImageHandler @imageAdded="handleImageAdded" id="aboutBook" v-model="product.about_book"></about-book-editor>
            </div>
            <div class="col-md-12">
                <label for="addInfo">Дополнительные материалы</label>
                <additional-info-editor :editorToolbar="customToolbar" useCustomImageHandler @imageAdded="handleImageAdded" id="addInfo" v-model="product.additional_info"></additional-info-editor>
            </div>           
        </div>

        <table class="table table-bordered table-striped" v-if="mode==='update'">
            <thead>
                <tr>
                    <td>Название аудио</td>
                    <td>Ссылка</td> 
                    <td></td> 
                </tr>
            </thead>
            <tbody>
                <tr v-for="audio, idx in audios" v-if="audio" :key="idx">
                    <td v-if="audio.alias">
                        {{audio.alias}}
                    </td>
                    <td v-if="!audio.alias">
                        {{audio.link}}
                    </td>
                    <td>
                        {{audio.link}}
                    </td>                    
                    <td>
                          <button class="btn btn-danger btn-xs" @click="deleteAudio(audio.id)"><span class="fa fa-trash"></span></button>                          
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" v-model="newAudio.alias" placeholder="Псевдоним аудио">
                    </td>
                    <td>
                        <input type="text" class="form-control" v-model="newAudio.link" placeholder="Ссылка на аудио">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" @click="addAudio()"><span class="fa fa-plus"></span></button> 
                    </td>
                </tr>                           
            </tbody>
        </table>        
    </div>
</template>

<script>
    import { VueEditor } from 'vue2-editor'
    export default {
        props: ['product', 'mode', 'freeCategories', 'audios'],

        data () {
            return {
                newAudio: {
                    product_id: '',
                    alias: '',
                    link: '',
                },
                customToolbar: [
                    ['bold', 'italic', 'underline', 'link'],
                    [{ 'header': [1, 2, 3, 4, false] }],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'image']
                ]
            }
        },

        components: {
            'aboutBookEditor': VueEditor,
            'additionalInfoEditor': VueEditor
        },   

        mounted () {
            this.newAudio.product_id = this.product.id;
        },  

        methods: {

            saveImage (e) {
                this.product.image = e.target.files[0];
                this.$parent.imageName = e.target.files[0].name;
                this.flash('Изменения сохранены', 'success', { timeout: 3000 });
                if (this.mode === 'update') {
                    this.$parent.hideImage = true;
                }
            },

            savePdf (e) {
                this.product.preview = e.target.files[0];
                this.$parent.pdfName = e.target.files[0].name;
                if (this.mode === 'update') {
                    this.$parent.hidePdf = true;
                }                
            },

            handleImageAdded(file, Editor, cursorLocation, resetUploader) {
                var formData = new FormData();
                formData.append('image', file);
                this.$http.post(`product_images/${this.product.id}`, formData).then( res => {
                    Editor.insertEmbed(cursorLocation, 'image', res);
                });
              },

              async addAudio () {
                let data = new FormData();
                data.append('product_id', this.newAudio.product_id);
                data.append('alias', this.newAudio.alias);
                let startAudioIndex = this.newAudio.link.indexOf('id=') + 'id='.length;
                let id = startAudioIndex > 2 ? this.newAudio.link.substring(startAudioIndex) : '';
                let link = `https://docs.google.com/uc?export=download&id=${id}`;
                data.append('link', link);
                let response = await this.$http.post(`audios/${this.product.id}`, data);
                this.$parent.load();
                this.newAudio.alias = '';
                this.newAudio.link = '';
              },

              async deleteAudio (id) {
                await this.$http.delete(`audios/${id}`);
                this.$parent.load();
              },
        }
    }
</script>
