<template>
	<div class="private-panel-body main-block">
		<div class="white-panel">
			<vue-tabs @tab-change="getData">
				<v-tab :title="'Разделы'"></v-tab>
				<v-tab :title="'Категории'"></v-tab>
				<v-tab :title="'Фильтры'"></v-tab>
			</vue-tabs>
			<div class="private-table-scrolling">
				<div class="row creating-row" v-if="tabIndex !== 0">
					<div :class="{'col-md-12': tabIndex === 1, 'col-md-6': tabIndex === 2}">
						<select name="" id="" class="form-control" v-model="selectedPart">
							<option value="0">Выберите раздел</option>
							<option v-for="item, idx in list" :value="item.id" :key="item.id">{{item.name}}</option>
						</select>
					</div>
					<div class="col-md-6" v-if="tabIndex === 2">
						<select name="" id="" class="form-control" v-model="selectedCategory">
							<option value="0">Выберите категорию</option>
							<option v-for="item, idx in listCategories" :value="item.id" v-if="item.type_id === selectedPart" :key="item.id">{{item.name}}</option>
						</select>						
					</div>
				</div>
				<div class="row creating-row" v-for="item, idx in list" :key="item.id" v-if="tabIndex === 0">
					<div class="col-md-1">
						<input type="checkbox" class="form-control" :checked="checkedIds.indexOf(item.id) !== -1" @click="pushOrPopItem(item.id)">
					</div>
					<div class="col-md-4">
						{{item.name}}
					</div>
				</div>
				<div v-if="tabIndex === 1">
					<div class="row creating-row" v-for="item, idx in categories" v-if="item.characteristic_type_id === selectedPart" :key="item.id">
						<div class="col-md-1">
							<input type="checkbox" @click="pushOrPopItem(item.id)" class="form-control" :checked="checkedIds.indexOf(item.id) !== -1">
						</div>
						<div class="col-md-4">
							{{item.name}}
						</div>						
					</div>
				</div>
				<div v-if="tabIndex === 2">
					<div class="row creating-row" v-for="item, idx in categories" v-if="item.characteristic_id === selectedCategory" :key="item.id">
						<div class="col-md-1">
							<input type="checkbox" @click="pushOrPopItem(item.id)" class="form-control" :checked="checkedIds.indexOf(item.id) !== -1">
						</div>
						<div class="col-md-4">
							{{item.name}}
						</div>						
					</div>
				</div>				
			</div>
			<div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="$router.push('/products')">Вернуться к списку</button>
                </div>                
            </div>	
		</div>
	</div>
</template>

<script>
import {VueTabs, VTab} from 'vue-nav-tabs'
import 'vue-nav-tabs/themes/vue-tabs.css'
export default {
	components: {
		VueTabs,
		VTab,
	},
	data() {
		return {
			allItems: [],
			charItems: [],
			checkedItems: [],
			freeItems: [],
			tabUrl: '',
			tabIndex: 0,
			selectedPart: 0,
			selectedCategory: 0,
			list: [],
			listCategories: [],
			parts: [],
			categories: [],
			checkedIds: [],
		}
	},
	created() {
		this.tabUrl = 'checked_parts';
		this.tabIndex = 0;
		this.load();
	},
	methods: {
		async load() {
			this.getData(this.tabIndex);
		},

		async getData(tabIndex, newTab, oldTab) {
			this.tabIndex = tabIndex;
			this.allItems = [];
			this.charItems = [];
			this.selectedPart = 0;
			this.selectedCategory = 0;
			this.list = [];
			this.categories = [];
			this.checkedIds = [];
			switch(tabIndex) {
				case 0: {
					this.tabUrl = 'checked_parts';		
					let response = await this.$http.get(`products/${this.$route.params.id}/chapters`);
					this.list = response.list;
					this.categories = response.categories;
					this.checkedIds = response.checkedIds;										
					break;
				}
				case 1: {
					this.tabUrl = 'checked_categories';
					let response = await this.$http.get(`products/${this.$route.params.id}/parts`);
					this.list = response.list;
					this.categories = response.categories;
					this.checkedIds = response.checkedIds;
					break;
				}
				case 2:
					this.tabUrl = 'checked_filters';
					let response = await this.$http.get(`products/${this.$route.params.id}/filters`);
					this.list = response.list;
					this.listCategories = response.listCategories;
					this.parts = response.parts;
					this.categories = response.categories;
					this.checkedIds = response.checkedIds;					
					break;
			}		
		},

		pushOrPopItem(id) {
			if (this.checkedIds.indexOf(id) === -1) {
				this.checkedIds.push(id);
			} else {
				this.checkedIds.splice(this.checkedIds.indexOf(id), 1);				
			}
		},

		async save() {
			let data = new FormData();
			switch(this.tabIndex) {
				case 0: {
					for (let i = 0; i < this.checkedIds.length; i++) {
						await this.$http.post(`products/${this.$route.params.id}/chapters/${this.checkedIds[i]}`);
					}
					let freeIds = this.list.filter(item => {
						return this.checkedIds.indexOf(item.id) === -1;
					});	
					for (let i = 0; i < freeIds.length; i++) {
						await this.$http.delete(`products/${this.$route.params.id}/chapters/${freeIds[i].id}`);
					}						
					break;
				}
				case 1: {
					for (let i = 0; i < this.checkedIds.length; i++) {
						await this.$http.post(`products/${this.$route.params.id}/category/${this.checkedIds[i]}`);
					}					
					let allIds = this.categories.map(item => {
						return item.id;
					});
					let freeIds = allIds.filter(item => {
						return this.checkedIds.indexOf(item) === -1;
					});
					for (let i = 0; i < freeIds.length; i++) {
						await this.$http.delete(`products/${this.$route.params.id}/category/${freeIds[i]}`);
					}
					break;
				}
				case 2:
					this.tabUrl = 'checked_filters';
					for (let i = 0; i < this.checkedIds.length; i++) {
						await this.$http.post(`products/${this.$route.params.id}/filters/${this.checkedIds[i]}`);
					}					
					let allIds = this.categories.map(item => {
						return item.id;
					});
					let freeIds = allIds.filter(item => {
						return this.checkedIds.indexOf(item) === -1;
					});
					for (let i = 0; i < freeIds.length; i++) {
						await this.$http.delete(`products/${this.$route.params.id}/filters/${freeIds[i]}`);
					}					
					break;
			}
		}
	}
}
</script>