<template>
	<div class="panel panel-default main-block">
        <div class="panel-body nopadding full-panel">
            <div class="white-panel">
				<table class="table table-striped table-bordered"> 
	                <thead> 
	                    <tr> 
	                        <td>Товары этой же серии</td> 
	                        <td></td> 
	                    </tr> 
	                </thead> 
	                <tbody> 
	                    <tr v-for="sameProduct, idx in sameProducts" :key="idx"> 
	                        <td>{{sameProduct.name}}</td> 
	                        <td> 
	                            <button class="btn btn-xs btn-danger" @click="deleteSameProduct(sameProduct)"><span class="fa fa-trash-o"></span></button> 
	                        </td> 
	                    </tr> 
	                </tbody> 
	                <tfoot> 
	                    <tr> 
	                        <td> 
	                            <!-- <select class="form-control" name="" id="" v-model="addedSameProduct"> 
	                                <option value="">Выберите книгу</option> 
	                                <option v-for="sameProduct, idx in freeSameProducts" :key="idx" :value="sameProduct.id">{{sameProduct.name}}</option> 
	                            </select> --> 
	                            <model-select :options="freeSameProducts"
                                	v-model="addedSameProduct"
                                	placeholder="select item">
        						</model-select>
	                        </td> 
	                        <td> 
	                            <button class="btn btn-primary btn-xs" @click="addSameProduct()"><span class="fa fa-plus"></span></button> 
	                        </td> 
	                    </tr>                 
	                </tfoot> 
	            </table>
	        </div>
        </div>
	</div> 
</template>

<script>
	import { ModelSelect } from 'vue-search-select'
	export default {
		data() {
			return {
				sameProducts: [],
				freeSameProducts: [],
				addedSameProduct: '',
			}
		},
		components: {
			ModelSelect
		},
		created() {
			this.load();
		},
		methods: {
			async load() {
				let response = await this.$http.get(`products/${this.$route.params.id}/same_products`);
				this.sameProducts = response.sameProducts;
				this.freeSameProducts = response.freeSameProducts.sort(function(a, b){
					if(a.name < b.name) return -1;
					if(a.name > b.name) return 1;
					return 0;
				});
				this.freeSameProducts = this.freeSameProducts.map(item => {
					return {value: item.id, text: item.name};
				});
				console.log(this.freeSameProducts);
			},
			async addSameProduct () { 
                let data = new FormData(); 
                data.append('same_product_id', this.addedSameProduct); 
                let response = await this.$http.post(`products/${this.$route.params.id}/same_products`, data); 
                this.load(); 
                this.addedSameProduct = '';      
            },
            async deleteSameProduct(sameProduct) { 
                let response = await this.$http.delete(`products/${this.$route.params.id}/same_products/${sameProduct.id}`); 
                this.load(); 
            } 
		}
	}
</script>