<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input @keyup.enter="refresh()" 
                           type="text" 
                           class="form-control filter" 
                           placeholder="Введите название книги" 
                           v-model="filters.name">
                </div>
                <div class="col-md-3">
                    <input @keyup.enter="refresh()" 
                           type="text" 
                           class="form-control filter" 
                           placeholder="Введите ISBN" 
                           v-model="filters.isbn">
                </div>    
                <div class="col-md-2">
                    <button class="btn btn-primary btn-md refreshButton" @click="refresh()">
                        Поиск
                    </button>
                </div>
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название книги</td>
                            <td>Фильтры</td>
                            <td>Товары серии</td>
                            <td>Комментарии</td>
                            <td>Хар-ки</td>   
                            <td>Ред.</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/products/${book.id}`)" v-for="book, idx in products" :key="idx">
                            <td>
                                {{book.name}}
                            </td>
                            <td>
                                <button :title="'Разделы, категории и фильтры книги ' + book.name" class="btn btn-xs btn-primary" @click="$router.push(`/products/${book.id}/filters`)"><span class="fa fa-filter"></span>
                                </button>
                            </td>
                            <td>
                                <button :title="'Товары этой же серии для книги ' + book.name" class="btn btn-xs btn-primary" @click="$router.push(`/products/${book.id}/same_products`)"><span class="fa fa-align-justify"></span>
                                </button>
                            </td>                            
                            <td>
                                <button :title="'Комментарии книги ' + book.name" class="btn btn-xs btn-primary" @click="$router.push(`/products/${book.id}/comments`)"><span class="fa fa-comments-o"></span>
                                </button>                            
                            </td>
                            <td>
                                <button :title="'Характеристики книги ' + book.name" class="btn btn-xs btn-success" @click="$router.push(`/products/${book.id}/characteristics`)"><span class="fa fa-wrench"></span>
                                </button>                            
                            </td>
                            <td>
                                <button :title="'Редактирование книги ' + book.name" class="btn btn-xs btn-warning" @click="$router.push(`/products/${book.id}`)"><span class="fa fa-edit"></span>
                                </button>
                            </td>                        
                            <td>
                                <button :title="'Удаление книги ' + book.name" class="btn btn-xs btn-danger deleteButton" @click="deleteProduct(book)"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-buttons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===1" @click="prevPage()">Предыдущая</button>
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===pagination.last_page" @click="nextPage()">Следующая</button>
                </div>
            </div>            
        </div>
    </div>   
</template>

<script>
    export default {
        props: [
            'title'
        ],

        data() {
            return {
                products: [],
                pagination: {
                    current_page: 1,
                    from: 1,
                    last_page: 1,
                    per_page: 8,
                    to: '',
                    total: ''
                },
                filters: {
                    page: 1,
                    name: '',
                    isbn: ''
                },
                query: '?page=1'
            }
        },

        mounted() {
            this.load();
        },

        methods: {

            refresh () {
                this.query = `?page=${this.filters.page}`;
                if (this.filters.name) {
                    this.query += `&name=${this.filters.name}`
                }
                if (this.filters.isbn) {
                    this.query += `&isbn=${this.filters.isbn}`
                }
                this.load();
            },

            async load () {
                var responsedData = await this.$http.get(`products${this.query}`);
                this.products = responsedData.products.data;
                await this.setPagination(responsedData.products);
            },

            async nextPage() {
                this.filters.page = ++this.pagination.current_page;
                this.query = `?page=${this.filters.page}`;
                await this.load();
            },

            async prevPage() {
                this.filters.page = --this.pagination.current_page;
                this.query = `?page=${this.filters.page}`;
                await this.load();
            },

            async setPagination (response) {
                this.pagination = {
                    current_page: response.current_page,
                    from: response.from,
                    last_page: response.last_page,
                    per_page: response.per_page,
                    to: response.to,
                    total: response.total                    
                }
                this.query = `?page=${this.filters.page}`;
            },

            async deleteProduct (product) {
                await this.$http.delete(`products/${product.id}`);
                await this.load();
                this.$parent.message = 'Книга ' + product.name + ' успешно удалёна';
                this.$parent.showModal = true;
            }
        }
    }
</script>
