<template>
	<div class="panel panel-default full-height">
	    <div class="private-panel-body main-block">
	        <div class="white-panel">
	            <div class="row">
	                <h2>
	                    {{title}}
	                </h2>
	            </div>
	            <div class="private-table-scrolling">
	                <table class="table table-bordered table-striped">
	                    <thead>
	                        <tr>
	                            <td>Название книги</td>
	                            <td></td>  
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr v-for="product, idx in promotions" v-if="product.promotion" :key="idx">
	                            <td>
	                                {{product.name}}
	                            </td>
	                            <td>
	                                  <button class="btn btn-danger btn-xs" @click="deleteLink(product.id)"><span class="fa fa-trash"></span></button>                          
	                            </td>
	                        </tr>
							<tr>
	                            <td>
									<model-select :options="freeProducts"
                                		v-model="selectedProduct"
                                		placeholder="select item">
        							</model-select>	 	                                
	                            </td>
	                            <td>
	                            	<button class="btn btn-primary btn-xs" @click="addLink(selectedProduct)"><span class="fa fa-plus"></span></button> 
	                            </td>
	                        </tr>	                        
	                    </tbody>
	                </table>
	            </div>         
	        </div>
	    </div> 
	</div>  
</template>

<script>
import { ModelSelect } from 'vue-search-select'
    export default {
    	props: ['title'],
        data() {
            return {
                promotions: [],
                selectedProduct: '',
                freeProducts: [],
            }
        },

        mounted () {          
            this.load();
        },

		components: {
			ModelSelect
		},        

        methods: {
            async load () {
                this.promotions = await this.$http.get(`promotions`);   
                this.freeProducts = [];
                let prom = this.promotions.filter(item => {
            		return item.promotion
            	});  
				let promotionIds = prom.map(item => {
            		return item.id;
            	});                
				this.promotions.forEach(item => {
					if(promotionIds.indexOf(item.id) === -1) {
				        this.freeProducts.push({value: item.id, text: item.name});
				    }					
				}); 
            },

            async addLink () {
            	let response = await this.$http.post(`promotions/${this.selectedProduct}`); 
            	this.selectedProduct = '';
                await this.load();      	
            },
            async deleteLink(productId) {
            	let response = await this.$http.delete(`promotions/${productId}`);
            	await this.load();
            },
        }
    }
</script>
