<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form
                        :news="news"
                        :mode="'create'"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                news: {
                    name: '',
                    slug: '',
                    info: 'Нет информации.',
                    video1: '',
                    video2: '',
                    image: null,
                    image_url: null
                },
                categories: [],
                imageName: ''
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
        },

        methods: {

            async save () {
                const data = new FormData();
                for (let key in this.news) {                   
                    data.append(key, this.news[key]);
                }

                try {
                    let response = await this.$http.post('news', data);
                    this.flash('Новость создана', 'success', {
                            timeout: 3000
                        });
                    if (response.route) {
                        this.$router.push(response.route);
                        return;
                    }
                    this.news = {
                        name: '',
                        slug: '',
                        info: '',
                        video1: '',
                        video2: '',
                        youtube_link: '',
                        image: null,
                        image_url: null                    
                    };
                    this.imageName = '';
                    $('#uploader').val('').clone(true);
                    return
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                     
                }
            },

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
            }
        }
    }
</script>
