 <template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}} {{news.name}}
                </h2>
            </div>
            <updating-form 
                        :news="news" 
                        :mode="'update'" 
                        :imageName="imageName"
            ></updating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                    <button class="btn btn-primary btn-md" @click="$router.push('/news')">Вернуться к списку</button>
                </div>                
            </div>
        </div>
    </div>    
</template>

<script>
    import UpdatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                news: {
                    name: '',
                    slug: '',
                    info: '',
                    video1: '',
                    video2: '',
                    image: null,
                    image_url: null
                },
                imageName: '',
                hideImage: false
            }
        },

        components: {
            UpdatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                let response = await this.$http.get(`news/${this.$route.params.id}`);
                this.news = response.article;
            },

            async save () {
                const data = new FormData()
                for (let key in this.news) {
                    data.append(key, this.news[key]);
                }

                try {
                    let response = await this.$http.post(`news/${this.$route.params.id}`, data);
                    this.flash('Изменения сохранены', 'success', {
                            timeout: 3000
                        });
                    await this.load();
                    $('#uploader').val('').clone(true);
                } catch (e) {
                    this.flash('Проверьте заполнение полей', 'error', {
                        timeout: 3000
                    });
                    return;                     
                }
            },

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
                this.hideImage = true;
            }
        }
    }
</script>