<template>
    <div class="private-table-scrolling">
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="news.name" placeholder="Введите название новости">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="news.slug" placeholder="Введите слаг новости">
            </div>       
        </div>
        <div v-if="mode==='update'" class="row creating-row">
            <div class="col-md-12">
                <vue-editor :editorToolbar="customToolbar" useCustomImageHandler @imageAdded="handleImageAdded" v-model="news.info" :height="300"></vue-editor>
            </div>           
        </div>
        <div class="row creating-row">
            <div class="col-md-3" style="padding-top: 6px;"><h4>https://www.youtube.com/watch?v=</h4></div>
            <div class="col-md-3">
                <input type="text" class="form-control" v-model="news.video1" placeholder="Введите ссылку 1 на Youtube">
            </div>
            <div class="col-md-3" style="padding-top: 6px;"><h4>https://www.youtube.com/watch?v=</h4></div>
            <div class="col-md-3">
                <input type="text" class="form-control" v-model="news.video2" placeholder="Введите ссылку 2 на Youtube">
            </div>                                   
        </div>
        <div class="row creating-row">
            <div class="col-md-6">
                <div class="own-type-file">           
                    <label for="uploader" class="custom-label">
                        Загрузить картинку
                    </label>
                    <input type="file" @change="saveImage" id="uploader">{{$parent.imageName}}
                </div>                  
            </div>             
        </div>
        <div class="row creating-row" v-if="(!$parent.hideImage) && (mode === 'update')">
            <div class="col-md-4 col-md-offset-4 uploadedImage">
                <img :src="news.image_url" alt="Ошибка загрузки">
            </div>
        </div>        
    </div>    
</template>

<script>
    import { VueEditor } from 'vue2-editor'
    export default {
        props: ['news', 'mode'],

        data() {
            return {
                customToolbar: [
                    ['bold', 'italic', 'underline', 'link'],
                    [{ 'header': [1, 2, 3, 4, false] }],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'image']
                ]
            }
        },

        components: {
            VueEditor
        },

        methods: {

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.$parent.imageName = e.target.files[0].name;
                if (this.mode === 'update') {
                    this.$parent.hideImage = true;
                }
            },

            handleImageAdded(file, Editor, cursorLocation, resetUploader) {
                var formData = new FormData();
                formData.append('image', file);
                this.$http.post(`news_images/${this.news.id}`, formData).then( res => {
                    Editor.insertEmbed(cursorLocation, 'image', res);
                });
              }            
        }
    }
</script>
