<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control filter" placeholder="Введите название новости" v-model="filterName">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-md refreshButton" @click="refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название новости</td>
                            <td></td>
                            <td></td>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/news/${article.id}`)" v-for="article, idx in news" :key="idx">
                            <td>
                                {{article.name}}
                            </td>
                            <td>
                                <button :title="'Редактирование новости ' + article.name" class="btn btn-xs btn-warning" @click="$router.push(`/news/${article.id}`)"><span class="fa fa-edit"></span>
                                </button>
                            </td>                        
                            <td>
                                <button :title="'Удаление новости ' + article.name" class="btn btn-xs btn-danger deleteButton" @click="deletenews(article)"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-buttons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===1" @click="prevPage()">Предыдущая</button>
                    <button class="btn btn-primary btn-md" v-bind:disabled="pagination.current_page===pagination.last_page" @click="nextPage()">Следующая</button>
                </div>
            </div>            
        </div>
    </div>       
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                news: [],
                isCreate: false,
                clickedCategory: '',
                filteredProd: [],
                filterName: '',
                pagination: {
                    current_page: 1,
                    from: 1,
                    last_page: 1,
                    per_page: 8,
                    to: '',
                    total: ''
                },
                filters: {
                    page: 1,
                    name: ''
                }                
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        methods: {
            refresh () {
                this.filters.page = 1;
                this.filters.name = this.filterName;
                this.load();
            },            
            async load () {
                var responsedData = await this.$http.get('news', {page: this.filters.page, name: this.filters.name});
                this.news = responsedData.news.data;
                await this.setPagination(responsedData.news);                
            },

            async deletenews (news) {
                await this.$http.delete(`news/${news.id}`);
                await this.load();
                this.$parent.message = 'Новость ' + news.name + ' успешно удалёна';
                this.$parent.showModal = true;
            },

            async nextPage() {
                this.filters.page = ++this.pagination.current_page;
                await this.load();
            },

            async prevPage() {
                this.filters.page = --this.pagination.current_page;
                await this.load();
            },

            async setPagination (response) {
                this.pagination = {
                    current_page: response.current_page,
                    from: response.from,
                    last_page: response.last_page,
                    per_page: response.per_page,
                    to: response.to,
                    total: response.total                    
                }
            },            
        }
    }
</script>
