<template>
	<div class="panel panel-default full-height">
		<div class="private-panel-heading">
			<span class="head-text">Меню</span>
		</div>
		<div class="panel-body private-panel-body">
			<li v-for="page, idx in pages" v-if="!!page.props" :class="{'active': idx===curpage}" @click="toggleCollapse(idx)">
				<router-link :to="page.path" :key="idx">
					<span :class="`fa fa-${page.props.icon}`"></span>
						{{ page.props.title }}
				</router-link>
				<transition name="fade">
					<ul class="children" v-if="curpage === idx">
						<li class="child" @click="setChild(idx1)" v-if="childPage.props.showInMenu" v-for="childPage, idx1 in page.children" :class="{'active-child': idx1 === curchild}">
							<router-link :to="page.path + '/' + childPage.path" :key="idx1">
									{{ childPage.props.title }}
							</router-link>
						</li>
					</ul>
				</transition>
			</li>
			<li>
				<a :href="'/admin/logout'">
					<span :class="`fa fa-sign-out`"></span>
	            	<span class="menu-item-title">Выход</span>			
		    	</a>				
			</li>		
		</div>
	</div>
</template>

<script>
import $ from 'jquery'
export default {
	props: ['pages'],
	data() {
		return {
			curpage: -1,
			curchild: 0
		}
	},
	created() {
		this.curpage = window.localStorage.getItem('last_clicked_menu_item');
	},
	methods: {
		toggleCollapse(idx) {
			window.localStorage.setItem('last_clicked_menu_item', idx);
			this.curpage = idx;
		},
		setChild(idx) {
			window.localStorage.setItem('cur_child', idx);
			this.curchild = idx;
		}
	}
}
</script>